@font-face {
    font-family: HP_Hans;
    src: url(src/font/HP_Simplified_Hans.ttf);
}

body {
    margin: 0px;
    padding: 0px;
}

.error_text {
    width: 100vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: HP_Hans;
    font-size: 7vw;
    color: #FFFFFF;
    text-align: center;
    top: 28vh;
    position: absolute;
}

.chatroom-list-page {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F59E56;
    padding-top: 50vw;
}

.chatroom-list-header {
    position: fixed;
    width: 100vw;
    height: 50vw;
    /* height: 10vh; */
    left: 0px;
    top: 0px;
    background: #F59E56;
    z-index: 10;
}

.back_arrow {
    /* position: absolute;
    width: 12vw;
    height: 12vw;
    top: 7vw;
    left: 5vw;
    background-image: url('src/back_arrow.png');
    background-size: cover;
    background-repeat: no-repeat; */

    position: absolute;
    width: 6vh;
    height: 6vh;
    top: 3.3vh;
    left: 5vw;
    background-image: url(src/back_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-chatroom {
    position: absolute;
    top: 8vw;
    right: 12vw;
    width: 30vw;
    height: auto;
}

.search-bar {
    position: absolute;
    top: 40vw;
    left: 10vw;
    width: 75vw;
    height: 8vw;
    border-width: 0px;
    border-radius: 2vw;
    font-family: HP_Hans;
    font-size: 4vw;
    padding: 2vw;  
    background-color: #F5F1F0;
    color: #B5B2B2;
}

.btn-cancel {
    position: absolute;
    top: 41vw;
    right: 2vw;
    width: 10vw;
    height: 5vw;
    background-color: #B5B2B2;
    color: white;
    font-family: HP_Hans;
    font-size: 3.5vw;
    border-width: 0px;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chatroom-list {
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    top: 50vw;
}

.chatroom-item {
    position: relative;
    width: 86vw;
    height: 27vw;
    margin-top: 5vw;
    margin-left: 7vw;
    background-color: white;
    border-width: 0px;
    border-radius: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    z-index: 10;
}

.chatroom-photo {
    display: inline-block;
    width: 17vw;
    height: 17vw;
    background-color: #E26F50;
    background-size: cover;
    background-position: center;
    border-width: 0px;
    border-radius: 2vw;
}

.chatroom-name {
    position: absolute;
    display: inline-block;
    right: 3vw;
    width: 60vw;
    height: 10vw;
    font-family: HP_Hans;
    font-weight: bold;
    color: black;
    font-size: 5.5vw;
    padding-top: 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-msg {
    position: absolute;
    display: inline-block;
    right: 3vw;
    width: 60vw;
    height: 6vw;
    color: #B5B2B2;
    font-family: HP_Hans;
    font-size: 4vw;
    bottom: 6.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quarter_circle {
    position: fixed;
    width: 22.2vw;
    height: 22.2vw;
    bottom: 0vw;
    background-size: cover;
    z-index: 10;
}


/* Chatroom Record */
.chatroom-record-page {
    display: none;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.chatroom-record-header, .chatroom-member-header {
    position: fixed;
    width: 100vw;
    /* height: 22vw; */
    height: 11vh;
    left: 0px;
    top: 0px;
    background-color: #F59E56;
    z-index: 10;
}

.chatroom-title, .member-title {
    /* position: absolute;
    top: 7vw;
    left: 19vw;
    width: 60vw;
    height: auto;
    text-align: center;
    color: white;
    font-family: HP_Hans;
    font-size: 5.5vw; */

    position: absolute;
    top: 4vh;
    left: 20vw;
    width: 60vw;
    height: auto;
    text-align: center;
    color: white;
    font-family: HP_Hans;
    font-size: 5.5vw;
}

.check-member, .edit-member {
    /* position: absolute;
    top: 6.1vw;
    right: 5vw;
    width: 15vw;
    height: auto; */

    position: absolute;
    top: 3.7vh;
    right: 5vw;
    width: 7vh;
    height: auto;
}

.edit-member {
    opacity: 0.8;
    width: 8vw;
    right: 6vw;
    top: 7vw;
}

.chatroom-record-content {
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 90vh;
    bottom: 18vw;
    z-index: 0;
    padding-top: 22vw;

}

.msg_date {
    width: 100vw;
    height: 8vw;
    /* font-size: 5vw; */
    text-align: center;
    padding: 2vw;
    padding-top: 0vw;
    position: relative;
    display: flex;
    justify-content: center
}

.msg_date_text {
    display: block;
    min-width: 8vw;
    height: 5vw;
    /* word-wrap: break-word; */
    /* font-family: HP_Hans; */
    font-size: 3vw;
    text-align: center;
    /* margin: 2.5vw; add */
    /* margin-top: 1vw; */
    /* font-weight: bold; */
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: rgba(255, 223, 176, 0.85);
    
    color: white;
    border-radius: 7vw;
}


.msg {
    width: 100vw;
    height: auto;
    display: flex;
    padding: 3vw;
    padding-top: 0vw;
    position: relative; /*add*/
}

.msg.from-me {
    justify-content: flex-end;
}

.msg.from-others {
    justify-content: flex-start;    
}

.msg-photo {
    display: block;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #B5B2B2;
    background-size: cover;
    z-index: 10;
}

.msg-name {
    font-family: HP_Hans;
    font-size: 4vw;
    padding-left: 0.5vw;
    padding-right: 2vw;
    margin-left: 3vw;
}

.msg-content {
    display: block;
    max-width: 60vw; /*add*/
    word-wrap: break-word;
    font-family: HP_Hans;
    font-size: 5vw;
    text-align: left;
    margin: 2.5vw; /*add*/
    margin-top: 1vw;
    padding: 2vw;
    color: black;
    border-radius: 3vw;

}

.msg-content.from-me {
    background-color: #F59E56;
}

.msg-content.from-others {
    background-color: #B5B2B2;
}

.chatroom-record-footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 20vw;
    background-color: white;
}

.msg-content-time-flex {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.msg-content-time {
    display: block;
    font-size: 3.5vw;
    font-family: HP_Hans;
    width: 20vw;
    margin-bottom: 2.5vw;
}

.msg-content-time.from-me {
    text-align: right;
}

.msg-content-time.from-others {
    text-align: left;
}



.input-msg {
    position: fixed;
    bottom: 5vw;
    left: 10vw;
    width: 70vw;
    height: 8vw;
    font-family: HP_Hans;
    font-size: 4vw;
    color: #B5B2B2;
    background-color: #F5F1F0;
    border-color: #F5F1F0;
    border-width: 0vw;
    border-radius: 2vw;
    outline: none;
    padding-left: 3vw;
    padding-right: 3vw;
}

.input-msg:focus {
    border-width: 1vw;
    border-color: #B5B2B2;
}

/* ::-webkit-input-placeholder:focus {
    content: "";
}

::-moz-placeholder:focus {
    content: "";
} */

.btn-send {
    position: fixed;
    bottom: 6vw;
    right: 7vw;
    width: 8vw;
    height: auto;
}

.btn-send:active {
    opacity: 0.8;
}

/* Chatroom Member Page */
/* .chatroom-member-page {
    display: none;
} */

.chatroom-member-list {
    position: fixed;
    padding-top: 22vw;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.chatroom-member-item {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100vw;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    font-family: HP_Hans;
    font-size: 7vw;
}

.delete-member {
    /* display: inline-block; */
    display: none;
    padding-top: 1vw;
    width: 9vw;
    height: auto;
}

.chatroom-member-photo {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border: none;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    /* background-color: #ffffff; */
    background-color: #B5B2B2;
    margin-left: 2vw;
}

.chatroom-member-name {
    display: inline-block;
    width: 55vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15vw;
    padding: 3vw;
}

.exit-group {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.exit-group-btn {
    width: 35vw;
    height: 10.5vw;
    background-color: #E26F50;
    border: none;
    border-radius: 2vw;
    font-family: HP_Hans;
    font-size: 7vw;
    color: white;
    text-align: center;
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.exit-group-btn:active {
    opacity: 0.8;
}


/* Delete Member Modal */
.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 16vw;
    margin-top: 40vh;
}

.modal-content {
    position: relative;
    font-family: HP_Hans;
    font-size: 4vw;
    background-color: #E9BBA4;
    border-radius: 5vw;
    border-width: 0px;
    width: 68vw;
    height: 68vw;;
}

.modal-body-text-confirm {
    position: absolute;
    top: 5vw;
    width: 68vw;
    right: 0px;
    font-size: 5vw;
}

.modal-content > button {
    position: absolute;
    bottom: 5vw;
    width: 22vw;
    height: 9vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 5.5vw;
}

.modal-content >button:active {
    opacity: 0.8;
}

.modal-btn-cancel {
    position: absolute;
    bottom: 5vw;
    width: 22vw;
    height: 9vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 5.5vw;
    left: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-btn-confirm {
    position: absolute;
    bottom: 5vw;
    width: 22vw;
    height: 9vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 5.5vw;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-btn-cancel:active, .modal-btn-confirm:active {
    opacity: 0.8;
}




