
@font-face {
    font-family: jf_open;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}
body {
    margin: 0;
    padding: 0;
}
#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
    background:#F59E56;
}
.navbar{
    position: absolute;
    width: 100vw;
    height: 25.9vw;
    left: 0px;
    top: 0px;
}
.nav{
    position: absolute;
    width: 18.5vw;
    height: 9.25vw;
    left: 40.145vw;
    top: 9.8vw;
}
.prev{
    position: absolute;
    width: 12.95vw;
    height: 12.95vw;
    left: 5.55vw;
    top: 8.325vw;
}
#login_text{
    position: absolute;
    left: 35.15vw;
    top: 24.05vw;
    font-family: jf_open;
    font-size: 14.8vw;
    color:white;
}
.input{
    position: absolute;
    width: 61.75vw;
    height: 11.1vw;
    background-size: 66.6vw 16.65vw;
    font-size:6vw;
    background:#F5F1F0;
    box-shadow: inset 0.7955vw 0.7955vw 1.105vw rgba(0, 0, 0, 0.2);
    border-radius: 1.85vw;
    border: 0; 
    outline: none;
    font-family: jf_open;
    padding-left: 3vw; 
}
input::placeholder {
    color:#B5B2B2;
    font-size: 6.29vw;
    font-family:jf_open;
  }
#account{
    left: 18.5vw;
    top: 77.7vw;
}

#password{
    left: 18.5vw;
    top: 99.9vw;
}
.submit{
    position: absolute;
    width: 27.75vw;
    height: 11.655vw;
    font-size: 6.475vw;
    background: #E26F50;
    color:white;
    font-family:jf_open;
    border-radius: 2.775vw;
    border: 0; 
}
#check{
    left: 37vw;
    top: 120.25vw;
}
