
@font-face {
    font-family: jf_open;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}
body {
    margin: 0;
    padding: 0;
}
#all {
    position: relative;
    height: 116.8vh;
    width: 54vh;
    margin: auto;
    background:#F59E56;
}
.navbar{
    position: absolute;
    width: 54vh;
    height: 14vh;
    left: 0px;
    top: 0px;
}
.nav{
    position: absolute;
    width: 10vh;
    height: 5vh;
    left: 21.7vh;
    top: 5.3vh;
}
.prev{
    position: absolute;
    width: 7vh;
    height: 7vh;
    left: 3vh;
    top: 4.5vh;
}
#login_text{
    position: absolute;
    left: 19vh;
    top: 13vh;
    font-family: jf_open;
    font-size: 8vh;
    color:white;
}
.input{
    position: absolute;
    width: 36vh;
    height: 6vh;
    background-size: 36vh 9vh;
    font-size:4.3vh;
    background:#F5F1F0;
    box-shadow: inset 0.43vh 0.43vh 1.3vh rgba(0, 0, 0, 0.2);
    border-radius: 1vh;
    border: 0; 
    outline: none; 
}
input::placeholder {
    color:#B5B2B2;
    font-size: 3.4vh;
    font-family:jf_open;
  }
#account{
    left: 10vh;
    top: 42vh;
}

#password{
    left: 10vh;
    top: 54vh;
}
.submit{
    position: absolute;
    width: 15vh;
    height: 6.3vh;
    font-size:3.5vh;
    background: #E26F50;
    color:white;
    font-family:jf_open;
    border-radius: 1.5vh;
    border: 0; 
}
#check{
    left: 20vh;
    top: 65vh;
}
