@font-face {
    font-family: jf;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}

.swal-custom {
    height: 50vw;
    font-size: 3vw !important;
    font-family: HP_Hans !important;
    color: #4D4D4D;
    border-radius: 5vw !important;
}

.swal-custom-guide {
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.swal2-close {
    top: 5vw !important;
    right: 5vw !important;
    height: 10vw !important;
    width: 10vw !important;
    opacity: 0;
}

body {
    margin: 0;
    padding: 0;
}

#all {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
#container {
    /* position: relative;
    height: 125.8vw;
    width: 100vw;
    margin: auto;
    background: #EAC5A9;
    display: flex; 
    justify-content: center */

    position: relative;
    height: 58vh;
    width: 100vw;
    margin: auto;
    background: #EAC5A9;
    display: flex;
    justify-content: center;
}

.top_container{
    /* position:relative; 
    width:91vw;  */

    /* height: 20vw; */
    /* top: 93vw; */
    /* left: 4.5vw; */

    position: relative;
    width: 42vh;
}

#setting {
    position: absolute;
    top: 7.4vw;
    left: 83.25vw;
    width: 11.1vw;
    height: 7.4vw;
    z-index: 1;
}
#circle{
    /* position: absolute; 
    height: 91vw;
    width: 91vw; */
    /* left: 4.5vw; */
    /* top: 19vw; */

    position: absolute;
    width: 42vh;
    top: 8vh;
}
#logo{
    /* position: absolute; 
    width: 50vw;
    top: 9vw; */

    position: absolute;
    width: 23vh;
    /* left: 4vw; */
    top: 4vh;
}
#character_vertical{
    /* background-image: url("src/知識5.PNG"); */
    /* background-repeat: no-repeat;
    background-size: auto 57vw;
    background-position: center;

    position: absolute; 
    width: 57vw;
    height: 57vw;
    left: 12.5vw;
    top: 40vw; */

    background-repeat: no-repeat;
    background-size: auto 27vh;
    background-position: center;
    position: absolute;
    width: 27vh;
    height: 27vh;
    left: 5.5vh;
    top: 18.5vh;
}

#character_horizontal{
    /* background-image: url("src/肌肉0.PNG"); */
    /* background-repeat: no-repeat;
    background-size:78vw auto;
    background-position: center;

    position: absolute; 
    width: 78vw;
    height: 78vw;
    left: 10vw;
    top: 28vw; */

    background-repeat: no-repeat;
    background-size: 35vh auto;
    background-position: center;
    position: absolute;
    width: 35vh;
    height: 35vh;
    left: 3vh;
    top: 14.2vh;
}

.bar_container{
    /* position:relative; 
    width:91vw; 
    height: 20vw;
    top: 96vw; */
    /* left: 4.5vw; */

    position: relative;
    width: 42vh;
    height: 10vh;
    top: 45vh;
}

#exp_back{
    /* position: absolute; 
    width: 91vw; */
    /* left: 4.5vw; */
    /* top: 96.3vw; */

    position: absolute;
    width: 42vh;
}
#exp_circle{
    /* position: absolute;
    width: 17.5vw;
    left: 2.2vw;
    top: 2.1vw;
    z-index: 1; */

    position: absolute;
    width: 8.1vh;
    /* left: 6.7vw; */
    /* top: 98.4vw; */
    left: 1vh;
    top: 0.9vh;
    z-index: 1;
}
#level{
    /* position: absolute;
    top: 1.7vw;
    left: 3.5vw;
    width: 15vw;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight:bold;
    font-size: 12vw;
    color:#DB6C4E;
    z-index: 2; */

    position: absolute;
    /* top: 98vw; */
    /* left: 8vw; */
    top: 1vh;
    left: 1.5vh;
    width: 7vh;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight: bold;
    font-size: 5.5vh;
    color: #DB6C4E;
    z-index: 2;
}
#char_name{
    /* position: absolute;
    top: 0.7vw;
    left: 20.5vw;
    width: 50vw;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight:bold;
    font-size: 10vw;
    color:#DB6C4E; */

    position: absolute;
    /* top: 97vw; */
    /* left: 25vw; */
    top: 0.3vh;
    left: 9.5vh;
    width: 23vh;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight: bold;
    font-size: 4.5vh;
    color: #DB6C4E;
}
#bar {
    /* position: absolute;
    top: 13.5vw;
    left: 9.5vw;
    width: 100%;
    height: 6vw;
    width:  70vw;
    border-radius: 5vw;
    background-color: #b3b3b3;
    color: white; */

    position: absolute;
    /* top: 109.8vw; */
    /* left: 14vw; */
    top: 6.2vh;
    left: 4.5vh;
    width: 100%;
    height: 2.7vh;
    width: 32.7vh;
    border-radius: 5vw;
    background-color: #b3b3b3;
    color: white;
}

#knowledge {
    height: 100%;
    background-color: #F59E56;
    float: left;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

#social {
    height: 100%;
    background-color: #299296;
    float: left;
}

#physical {
    height: 100%;
    background-color: red;
    border-radius: 0 5vw 5vw 0; 
    float: left;
}

.container_white{
    position: relative;
    /* top: 58vh; */
    height: 42vh;
    width: 100vw;
    margin: auto;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.bottom_container{
    position: relative;
    /* width: 62.9vw; */
    width: 29vh;
}

#shop{
    /* position: absolute;
    width: 25.9vw;
    top: 131.35vw; */

    position: absolute;
    width: 12vh;
    /* height: 18.5vw; */
    /* left: 18.5vw; */
    top: 2.5vh;
}
#shop_text{
    /* position: absolute;
    width: 18.5vw;
    left: 4vw;
    top: 150.77vw; */

    position: absolute;
    width: 8.8vh;
    /* height: 7.95vw; */
    /* left: 22.5vw; */
    left: 1.8vh;
    top: 11.5vh;
}
#mission{
    /* position: absolute;
    width: 25.9vw;
    left: 36.5vw;
    top: 131.35vw; */

    position: absolute;
    width: 12vh;
    /* height: 18.5vw; */
    /* left: 55.5vw; */
    left: 17vh;
    top: 2.5vh;
}
#mission_text{
    /* position: absolute;
    width: 16.65vw;
    left: 41.8vw;
    top: 150.77vw; */

    position: absolute;
    width: 7.9vh;
    /* height: 7.4vw; */
    /* left: 60.31vw; */
    left: 19.5vh;
    top: 11.5vh;
}
#profile{
    /* position: absolute;
    width: 25.9vw;
    top: 166.5vw; */

    position: absolute;
    width: 12vh;
    /* height: 18.5vw; */
    /* left: 18.5vw; */
    top: 19vh;
}
#profile_text{
    /* position: absolute;
    width: 16.65vw;
    left: 5.5vw;
    top: 186vw; */

    position: absolute;
    width: 7.9vh;
    /* height: 7.4vw; */
    /* left: 24vw; */
    left: 2.4vh;
    top: 28vh;
}
#friends{
    /* position: absolute;
    width: 25.9vw;
    left: 36.5vw;
    top: 166.5vw; */

    position: absolute;
    width: 12vh;
    /* height: 18.5vw; */
    /* left: 55.5vw; */
    left: 17vh;
    top: 19vh;
}
#friends_text{
    /* position: absolute;
    width: 16.65vw;
    left: 41.8vw;
    top: 186vw; */

    position: absolute;
    width: 7.9vh;
    /* height: 7.4vw; */
    /* left: 60.8vw; */
    left: 19.5vh;
    top: 28vh;
}
#chat{
    position: fixed;
    width: 22.2vw;
    height: 22.2vw;
    right: 0vw;
    bottom: 0vw;
    background-image: url('src/chat.png');
    background-size: cover;
}

#card_icon{
    position: fixed;
    width: 45vw;
    height: 22.2vw;
    left: 2vw;
    bottom: 1vw;
} 
#navbar{
    position: absolute;
    width: 34.23vw;
    height: 100vh;
    right: 0vw;
    top: 0vw;
    background: #F7F5F5;
    visibility: hidden;
}
#setting2 {
    position: absolute;
    top: 9.25vw;
    left: 18.5vw;
    width: 9.25vw;
    height: 55.5vw;
}
#logout{
    position: absolute;
    width: 18vw;
    height: auto;
    top: 83vw; 
    left: 5.55vw;
}

#guided{
    position: absolute;
    width: 19vw;
    height: 6.85vw;
    top: 37vw; 
    left: 5.55vw;
}

#aboutus{
    position: absolute;
    width: 25.8vw;
    height: 11.1vw;
    top: 60vw; 
    left: 5.55vw;
}
/*
#logout{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 96.5vh; 
    left: 3vh;
}
#logout_text{
    position: absolute;
    width: 5vh;
    height: 3vh;
    top: 98vh; 
    left: 10vh;
}
*/
/*///modal*/
.card-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-top: 10vh;
}

.card-content {
    /* position: relative;
    font-family: jf;
    background-color: #ffffff;
    border-radius: 5vw;
    border-width: 0px;
    width: 100vw;
    height: 150vw; */

    position: relative;
    font-family: jf;
    background-color: #ffffff;
    border-radius: 5vw;
    border-width: 0px;
    width: 43vh;
    height: 70vh;
}

#card-title{
    /* position: relative;
    font-size:8vw;
    top: 15vw; */

    position: relative;
    font-size: 3.5vh;
    top: 7vh;
}
#select_pic{
    /* position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35vw;
    height: 35vw;
    left: 6vw;
    top: 33vw;
    border-radius: 50%; */

    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 16vh;
    height: 16vh;
    left: 2.5vh;
    top: 15.5vh;
    border-radius: 50%;
}

#card_name{
    /* position: absolute;
    left:45vw;
    top: 36vw;
    font-size: 7vw; */

    position: absolute;
    /* right: 22vw; */
    left: 20.5vh;
    top: 16.5vh;
    font-size: 3.2vh;
}

#card_ID{
    /* position: absolute;
    left:45vw;
    top: 46vw;
    font-size: 7vw; */

    position: absolute;
    /* right: 1vw; */
    left: 20.5vh;
    top: 21.5vh;
    font-size: 3.2vh;
}

#card_age{
    /* position: absolute;
    left:45vw;
    top: 57vw;
    font-size: 7vw; */

    position: absolute;
    /* right: 17vw; */
    left: 20.3vh;
    top: 27vh;
    font-size: 3.2vh;
}

#card_lv{
    /* position: absolute; 
    left:27vw;
    top: 76vw;
    font-size: 8vw; */

    position: absolute;
    left: 12.5vh;
    top: 35vh;
    font-size: 4vh;
}



.card-content > button {
    position: absolute;
    bottom: 5vw;
    width: 27vw;
    height: 12vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 7vw;
}

.card-content >button:active {
    opacity: 0.8;
}

.card-cancel {
    /* left: 20vw;
    position: absolute;
    bottom: 5vw;
    width: 27vw;
    height: 12vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; */

    left: 8vh;
    position: absolute;
    bottom: 2.5vh;
    width: 12.5vh;
    height: 5.5vh;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 3.2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-confirm {
    /* right: 20vw;
    position: absolute;
    bottom: 5vw;
    width: 27vw;
    height: 12vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; */

    right: 8vh;
    position: absolute;
    bottom: 2.5vh;
    width: 12.5vh;
    height: 5.5vh;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 3.2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-cancel:active, .card-confirm:active {
    opacity: 0.8;
}


/*///modal*/

/*///exp*/
#exp_1::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 26vh;
    height:1.9vh;
    border-radius: 5.32vw;
}
#exp_1::-webkit-progress-value {
    background-color:#E83000 !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_1 {
    /* position:absolute;
    color: #E83000;
    border-radius:5.32vw;
    opacity:0.5;
    top:93vw;
    left:30vw;
    background-color: #F5E0CD; */

    position: absolute;
    color: #E83000;
    border-radius: 5.32vw;
    opacity: 0.5;
    top: 43vh;
    left: 13.8vh;
    background-color: #F5E0CD;
}

#exp_2::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 26vh;
    height:1.9vh;
    border-radius: 5.32vw;
}
#exp_2::-webkit-progress-value {
    background-color:#F7931E !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_2 {
    /* position:absolute;
    color: #F7931E;
    border-radius:5.32vw;
    opacity:0.5;
    top:103vw;
    left:30vw;
    background-color: #F5E0CD; */

    position: absolute;
    color: #F7931E;
    border-radius: 5.32vw;
    opacity: 0.5;
    top: 47.6vh;
    left: 13.8vh;
    background-color: #F5E0CD;
}

#exp_3::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 26vh;
    height:1.9vh;
    border-radius: 5.32vw;
}
#exp_3::-webkit-progress-value {
    background-color:#2992A3 !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_3 {
    /* position:absolute;
    color: #2992A3;
    border-radius:5.32vw;
    opacity:0.5;
    top:113vw;
    left:30vw;
    background-color: #F5E0CD; */

    position: absolute;
    color: #2992A3;
    border-radius: 5.32vw;
    opacity: 0.5;
    top: 52.2vh;
    left: 13.8vh;
    background-color: #F5E0CD;
}


/*///exp*/




