@font-face {
    font-family: jf;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}
body {
    margin: 0;
    padding: 0;
}

#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
}
#container {
    position: relative;
    height: 125.8vw;
    width: 100vw;
    margin: auto;
    background: #EAC5A9;
}
#setting {
    position: relative;
    top: 7.4vw;
    left: 83.25vw;
    width: 11.1vw;
    height: 7.4vw;
    z-index: 1;
}
#circle{
    position: absolute; 
    height: 91vw;
    width: 91vw;
    left: 4.5vw;
    top: 19vw;
}
#logo{
    position: absolute; 
    width: 50vw;
    left: 4vw;
    top: 9vw;
}
#character_vertical{
    /* background-image: url("src/知識5.PNG"); */
    background-repeat: no-repeat;
    background-size: auto 57vw;
    background-position: center;

    position: absolute; 
    width: 57vw;
    height: 57vw;
    left: 17vw;
    top: 40vw;
}

#character_horizontal{
    /* background-image: url("src/肌肉0.PNG"); */
    background-repeat: no-repeat;
    background-size:78vw auto;
    background-position: center;

    position: absolute; 
    width: 78vw;
    height: 78vw;
    left: 10vw;
    top: 28vw;
}

#exp_back{
    position: absolute; 
    width: 91vw;
    left: 4.5vw;
    top: 96.3vw;
}
#exp_circle{
    position: absolute;
    width: 17.5vw;
    left: 6.7vw;
    top: 98.4vw;
    z-index: 1;
}
#level{
    position: absolute;
    top: 88vw;
    left: 8vw;
    width: 15vw;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight:bold;
    font-size: 12vw;
    color:#DB6C4E;
    z-index: 2;
}
#char_name{
    position: absolute;
    top: 85vw;
    width: 50vw;
    left: 25vw;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: jf;
    font-weight:bold;
    font-size: 11vw;
    color:#DB6C4E;
}
#bar {
    position: absolute;
    top: 109.8vw;
    left: 14vw;
    width: 100%;
    height: 6vw;
    width:  70vw;
    border-radius: 5vw;
    background-color: #b3b3b3;
    color: white;
}

#knowledge {
    height: 100%;
    background-color: #F59E56;
    float: left;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;

}

#social {
    height: 100%;
    background-color: #299296;
    float: left;
}

#physical {
    height: 100%;
    background-color: red;
    border-radius: 0 5vw 5vw 0; 
    float: left;
}
#shop{
    position: absolute;
    width: 25.9vw;
    height: 18.5vw;
    left: 18.5vw;
    top: 131.35vw;
}
#shop_text{
    position: absolute;
    width: 18.5vw;
    height: 7.95vw;
    left: 22.2vw;
    top: 150.77vw;
}
#mission{
    position: absolute;
    width: 25.9vw;
    height: 18.5vw;
    left: 55.5vw;
    top: 131.35vw;
}
#mission_text{
    position: absolute;
    width: 16.65vw;
    height: 7.4vw;
    left: 60.31vw;
    top: 150.77vw;
}
#profile{
    position: absolute;
    width: 25.9vw;
    height: 18.5vw;
    left: 18.5vw;
    top: 166.5vw;
}
#profile_text{
    position: absolute;
    width: 14.8vw;
    height: 7.4vw;
    left: 24.45vw;
    top: 185vw;
}
#friends{
    position: absolute;
    width: 25.9vw;
    height: 18.5vw;
    left: 55.5vw;
    top: 166.5vw;
}
#friends_text{
    position: absolute;
    width: 14.85vw;
    height: 7.4vw;
    left: 60.31vw;
    top: 185vw;
}
#chat{
    position: absolute;
    width: 22.2vw;
    height: 22.2vw;
    right: 0vw;
    bottom: 0vw;
} 
#navbar{
    position: absolute;
    width: 34.23vw;
    height: 216vw;
    right: 0vw;
    top: 0vw;
    background: #F7F5F5;
    visibility: hidden;
}
#setting2 {
    position: absolute;
    top: 9.25vw;
    left: 18.5vw;
    width: 9.25vw;
    height: 55.5vw;
}
#set{
    position: absolute;
    width: 19vw;
    height: 6.85vw;
    top: 37vw; 
    left: 5.55vw;
}

#guided{
    position: absolute;
    width: 19vw;
    height: 6.85vw;
    top: 61vw; 
    left: 5.55vw;
}

#aboutus{
    position: absolute;
    width: 25.8vw;
    height: 11.1vw;
    top: 83.25vw; 
    left: 5.55vw;
}
/*
#logout{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 96.5vh; 
    left: 3vh;
}
#logout_text{
    position: absolute;
    width: 5vh;
    height: 3vh;
    top: 98vh; 
    left: 10vh;
}
*/