@font-face {
    font-family: hp;
    src: url(src/font/hp.ttf);
}
@font-face {
    font-family: jf_open;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.friend_button {
    /* background-image: url("src/invite_friend.PNG"); */
    background-repeat: no-repeat;
    background-size: 40vw auto;
    background-position: center;
    position: absolute;
    top: 57vw;
    left: 44vw;
    width: 40vw;
    height: 15vw;
}

.friend_button_delete {
    background-image: url("src/delete_friend.PNG");
    background-repeat: no-repeat;
    background-size: 40vw auto;
    background-position: center;
    position: absolute;
    top: 57vw;
    left: 44vw;
    width: 40vw;
    height: 15vw;
}

.title_text {
    position: absolute;
    width: 100vw;
    height: 12vw;
    top: 3vw;
    font-size: 13vw;
    font-family: jf_open;
    text-align: right;
    right: 6vw;
    color: white;
    
}

#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
    
}
.navbar{
    position: fixed;
    width: 100vw;
    height: 22vw;
    left: 0px;
    top: 0px;
    background-color: #F59E56;
    z-index: 10;
}
.prev{
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 6.1vw;
    left: 5vw;
    background-image: url(src/back_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
}
#photo{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35vw;
    height: 35vw;
    left: 5vw;
    top: 28.99vw;
    border-radius: 50%;
}
.profile{
    position: absolute;
    left: 45vw;
    font-style: normal;
    font-weight: normal;
    line-height: 8vw;
    font-family: hp;
    font-size: 7.5vw;
}
#name{
    top: 27vw;  
}
#user_id{
    top: 37vw;
}
#age{
    top: 47vw;
}
#level{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    line-height: 8vw;
    font-family: hp;
    font-size: 7.5vw;
    left: 7vw;
    top: 65vw;
}
.exp{
    position: absolute;
    left: 9vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 4.27vw;
    font-family: hp;
}
#knowledge{
    top:75vw;
    left: 9vw;
}
#social{
    top:82vw;
    left: 1vw;
}
#physical{
    top:89vw;
    left: 9vw;
}
progress{
    position: absolute;
    left: 18.62vw;
    height: 4vw;
    width: 48vw;
}
#exp_1::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 100%;
    border-radius: 5.32vw;
}
#exp_1::-webkit-progress-value {
    background-color:#E83000 !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_1 {
    color: #E83000;
    border-radius:5.32vw;
    opacity:0.5;
    top:79vw;
    background-color: #F5E0CD;
}
#exp_2::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 100%;
    border-radius: 5.32vw;
}
#exp_2::-webkit-progress-value {
    background-color:#F7931E !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_2 {
    color: #F7931E;
    border-radius:5.32vw;
    opacity:0.5;
    top:86vw;
    background-color: #F5E0CD;
}
#exp_3::-webkit-progress-bar {
    background-color:#F5E0CD; 
    width: 100%;
    border-radius: 5.32vw;
}
#exp_3::-webkit-progress-value {
    background-color:#2992A3 !important;
    border-radius: 5.32vw;
    opacity:0.5;
}
#exp_3 {
    color: #2992A3;
    border-radius:5.32vw;
    opacity:0.5;
    top:93vw;
    background-color: #F5E0CD;
}

#role_image{
    position: absolute;
    width: 24.74vw;
    height: auto;
    left: 70vw;
    top: 70vw;
}

#role{
    /* background-image: url("src/肌肉5.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 24.74vw auto;
    position: absolute;
    width: 24.74vw;
    height: 31vw;
    left: 70vw;
    top: 72vw;
}


#intro{
    position: absolute;
    top:102vw;
    left: 6.5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    font-family: hp;
}
#pen{
    position: absolute;
    left: 33vw;
    top:102vw;
    height: 7vw;
}
#edit{
    position: absolute;
    width: 87.5vw;
    height: 23vw;
    left: 6vw;
    top: 111vw;
    background:#F59E56;
    opacity:0.25;
    border-radius:2vw;
    /* font-size: 5vw; */
    
    

    /* border-radius:1vw; */
    /* font-family: hp; */
}
#edit_text{
    position: absolute;
    left: 9vw;
    top: 109vw;
    width: 84vw;
    height: 23vw;
    font-size: 5vw;
    border-radius:1vw;
    font-family: hp;
    color: black;
    /* word-wrap: break-word;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
#save{
    position: absolute;
    left: 35vw;
    top:101.5vw;
    font-size: 5vw;
    font-family: hp;
    visibility: hidden;
    border-radius:2vw;
    padding: 1vw 1vw;
}
#intro_text{
    position: absolute;
    left: 6vw;
    top: 111vw;
    width: 88vw;
    height: 23vw;
    font-size: 4vw;
    border-radius:2vw;
    font-family: hp;
    color: black;
    visibility: hidden;
    border-radius:2vw;
}
#story{
    position: absolute;
    top:135vw;
    left: 6.5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    font-family: hp;
}
#photo1{
    /* background-image: url("src/pic1.PNG"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:144vw;
    left: 7vw;
    width: 41.5vw;
    height: 35vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border:0.5vw gray solid; */
}
#photo2{
    /* background-image: url("src/pic2.PNG"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:182vw;
    left: 7vw;
    width: 41.5vw;
    height: 30vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border:0.5vw gray solid; */
}
#photo3{
    /* background-image: url("src/pic3.PNG"); */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:144vw;
    left: 52vw;
    width: 41vw;
    height: 27.5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border:0.5vw gray solid; */
}
#photo4{
    /* background-image: url("src/pic4.PNG"); */
    /* background:#ddd7d2; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:174.5vw;
    left: 52vw;
    width: 41vw;
    height: 37.5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border:0.5vw gray solid; */
}

.photo_text{
    position: absolute;
    text-align:center;
    /* left: 9vw; */
    /* top: 109vw; */
    /* width: 41vw; */
    /* height: 37.5vw; */
    font-size: 5vw;
    font-family: hp;
    color: black;
}



.submit-modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 16vw;
    margin-top: 30vh;
}
  
.submit-modal-content {
    position: relative;
    font-family: jf_open;
    font-size: 4vw;
    background-color: #E9BBA4;
    border-radius: 5vw;
    border-width: 0px;
    width: 70vw;
    height: 80vw;;
}

.submit-modal-content > button {
    position: absolute;
    bottom: 5vw;
    width: 22vw;
    height: 9vw;
    background-color: #E26F50;
    border-width: 0px;
    border-radius: 2vw;
    color: white;
    font-size: 5.5vw;
}

.submit-modal-content >button:active {
    opacity: 0.8;
}

.upload_img{
    position : absolute;
    width : 70vw;
    height : auto;
    left : 0.2vw;
    bottom :8vw;
}


.upload_img_div{
    background-image: url('new_element/upload.png');
    background-size: 64vw auto;
    background-position: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 64vw;
    height: 52vw;
    left: 3vw;
    top: 6vw;
    border-radius: 2vw;
}

.submit-modal-btn-cancel {
    left: 10vw;
}

.submit-modal-btn-confirm {
    right: 10vw;
}

.swal-custom {
    height: 50vw;
    font-size: 3vw !important;
    font-family: HP_Hans !important;
    color: #4D4D4D;
    border-radius: 5vw !important;
}