@font-face {
    font-family: jf_open;
    src: url(src/font/jf-openhuninn-1.1.ttf);
}
body {
    margin: 0;
    padding: 0;
}
#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
    background:#F59E56;
}

.navbar{
    position: absolute;
    width: 100vw;
    height: 25.9vw;
    left: 0vw;
    top: 0vw;
}
.prev{
    position: absolute;
    width: 12.95vw;
    height: 12.95vw;
    left: 5.55vw;
    top: 8.325vw;
}
#register_text{
    position: absolute;
    left: 35.15vw;
    top: -11.1vw;
    font-family: jf_open;
    font-size: 14.8vw;
    color:white;
}
.profile_text{
    font-family: jf_open;
    font-size: 6.475vw;
    width: 16.65vw;
    height: 7.4vw;
}
.input{
    position: absolute;
    width: 64.75vw;
    height: 11.1vw;
    background-size: 66.6vw 16.65vw;
    font-size :7.955vw;
    background:#F5F1F0;
    box-shadow: inset 0.7955vw 0.7955vw 1.105vw rgba(0, 0, 0, 0.2);
    border-radius: 2.405vw;
    border: 0; 
    outline: none; 
}
.submit{
    position: absolute;
    width: 25.9vw;
    height: 9.25vw;
    font-size: 6.475vw;
    background: #E26F50;
    color:white;
    font-family:jf_open;
    border-radius: 2.775vw;
    border: 0; 
}

#name_text{
    position: absolute;
    left: 5.18vw;
    top: 37vw;
}
#name{
    left: 27vw;
    top: 41.225vw;
}
#birth_text{
    position: absolute;
    left: 5.18vw;
    top: 57.35vw;
}
#year{
    position: absolute;
    width: 20.35vw;
    height: 9.8vw;
    font-size: 6.475vw;
    background:#F5F1F0;
    box-shadow: inset 0.7955vw 0.7955vw 1.105vw rgba(0, 0, 0, 0.2);
    border-radius: 2.405vw;
    border: 0; 
    outline: none; 
    left: 27vw;
    top: 62.9vw;
}
select#year option { 
 
    font-size: 1.85vw; 
 
}
#slash1{
    position: absolute;
    font-size :7.955vw;
    left: 50.505vw;
    top: 56.425vw;
}
.birth{
    position: absolute;
    width: 15.725vw;
    height: 9.8vw;
    background-size: 66.6vw 16.65vw;
    font-size: 7.4vw;
    background:#F5F1F0;
    box-shadow: inset 0.7955vw 0.7955vw 1.105vw rgba(0, 0, 0, 0.2);
    border-radius: 2.405vw;
    border: 0; 
    outline: none; 
}
select.birth option { 
 
    font-size: 1.85vw; 
 
}
#month{
    left: 55.5vw;
    top: 62.9vw;
}
#slash2{
    position: absolute;
    font-size:7.955vw;
    left: 72.7vw;
    top: 56.425vw;
}
#date{
    left: 77.7vw;
    top: 62.9vw;
}
#sex_text{
    position: absolute;
    left: 5.18vw;
    top: 77.7vw;
}
.sex{
    position: absolute;
    width: 38.85vw;
    height: 11.1vw;
    left: 29.6vw;
    top: 83.25vw;
    background-color:#F59E56;
}
#boy{
    visibility: hidden;
}
#mail_text{
    position: absolute;
    left: 5.18vw;
    top: 98vw;
}
#mail{
    left: 27vw;
    top: 103.6vw;
    font-size: 4.995vw;
}
#account_register_text{
    position: absolute;
    left: 5.18vw;
    top: 118.4vw;
}
#account_register{
    left: 27vw;
    top: 123.95vw;
}
#password_register_text{
    position: absolute;
    left: 5.18vw;
    top: 140.6vw;
}
#password_register{
    left: 27vw;
    top: 146.15vw;
}
#register_cancel{
    left: 24vw;
    top: 175.75vw;
}
#register_check{
    left: 55.5vw;
    top: 175.75vw;
}