body {
    margin: 0;
    padding: 0;
}
#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
}
#container {
    position: absolute;
    height: 216vw;
    width: 100vw;
    margin: auto;
    background-color: F 59E 56;
}
#hello{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.1vw;
    line-height: 11.1vw;
    position: absolute;
    left: 35.15vw;
    top: 22.2vw;
    }
#login_image{
    position: absolute;
    width: 46.25vw;
    height: 46.25vw;
    left: 25.9vw;
    top: 61vw;
}
#login_text{
    position: absolute;
    width: 18.5vw;
    height: 9.25vw;
    left: 40.14vw;
    top: 80.1vw;
}
#register_image{
    position: absolute;
    width: 46.25vw;
    height: 46.25vw;
    left: 25.9vw;
    top: 121.73vw;
}
#register_text{
    position: absolute;
    width: 18.5vw;
    height: 9.25vw;
    left: 40.14vw;
    top: 139.49vw;
}