body {
    margin: 0;
    padding: 0;
}

#logo {
    background-image: url("src/LOGO.png");
    background-repeat: no-repeat;
    background-size: 60vw auto;
    background-position: center;

    position: absolute;
    width: 60vw;
    height: 40vw;
    left: 19.5vw;
    top: 13vw;
}

#all {
    position: relative;
    height: 216vw;
    width: 100vw;
    margin: auto;
}
#container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: #F59E56;
}
#hello{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.1vw;
    line-height: 11.1vw;
    position: absolute;
    left: 35.15vw;
    top: 22.2vw;
    }
#login_image{
    position: absolute;
    width: 46.25vw;
    height: 46.25vw;
    left: 25.9vw;
    top: 61vw;
}
#login_text{
    position: absolute;
    width: 18.5vw;
    height: 9.25vw;
    left: 40.14vw;
    top: 80.1vw;
}
#register_image{
    position: absolute;
    width: 46.25vw;
    height: 46.25vw;
    left: 25.9vw;
    top: 121.73vw;
}
#register_text{
    position: absolute;
    width: 18.5vw;
    height: 9.25vw;
    left: 40.14vw;
    top: 139.49vw;
}