<!DOCTYPE html>
<html>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <head> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width; viewport-fit=cover">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="static/friend.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        <div class="friend-header">
            <a id="back_arrow_link">
                <div class="back-arrow"></div>
            </a>
            <div class="friend-title">好 友</div>
            <div class="btn-help" type="button"></div>
        </div>

        <ul class="nav nav-tabs nav-justified friend-top-tab" style="position: fixed; top: 11vh;">
            <li id="tab_friend" class="">
                <div id="tab-friend" data-toggle="tab" href="#friend-list">好 友</div>
            </li>
            <li id="tab_group">
                <div id="tab-group" data-toggle="tab" href="#group-list">群 組</div>
            </li>
            <li id="tab_invite">
                <div id="tab-add-friend" data-toggle="tab" href="#add-friend">新增好友</div>
            </li>
        </ul>
        
        <div class="friend-tab-content tab-content">
            <!-- Friend List -->
            <div id="friend-list" class="tab-pane fade in active">
                <div class="friend-search-bar">
                    <form class="form-search-friend">
                        <input id="friend_search" type="search" placeholder="輸入好友名稱" class="search-friend-input">
                        <div id="friend_search_delete" type="button" class="delete-btn"></div>
                    </form>    
                </div>
                <div id="friend_container" class="friend-item-field">
                    <!-- JavaScript append -->
                </div>
            </div>

            <!-- Group List -->
            <div id="group-list" class="tab-pane fade">
                <div class="group-search-bar">
                    <form class="form-search-group">
                        <input id="group_search" type="search" placeholder="輸入群組名稱" class="search-group-input">
                        <div id="group_search_delete" type="button" class="delete-btn"></div>
                    </form>    
                </div>
                <div id="group_container" class="group-item-field">
                    <!-- JavaScript append -->
                </div>
            </div>

            <!-- Add Friend -->
            <div id="add-friend" class="tab-pane fade">
                <div class="add-friend-search-bar">
                    <form class="form-add-friend">
                        <input id="invitation_search" type="search" placeholder="輸入ID" class="add-friend-input">
                        <div type="button" class="delete-btn" style="right: 25vw;" id="cancel-new-friend"></div>
                        <div type="button" class="confirm-add-id-btn">搜尋</div>
                    </form>    
                </div>
                <div id="friend_invitation_container" class="add-friend-field">
                    <!-- JavaScript append -->
                </div>
                <div id="search_friend_container" class="new-friend-field" style="display: none;">
                    <!-- JavaScript append -->
                </div>
            </div>
        </div>

        <!-- Add New Friend Modal -->
        <div class="modal fade" id="add-friend-modal" tabindex="-1" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div id="check_modal_container" class="modal-content">
                    <!-- JavaScript append -->
                </div>
            </div>
        </div>

        <!-- Check Friend Modal -->
        <div class="modal fade" id="check-friend-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div id="profile_modal_container" class="modal-content" style="height: 75vw;">
                    <!-- JavaScript append -->
                </div>
            </div>
        </div>

        <a id="home_link">
            <div class="quarter_circle" style="left: 0vw; background-image: url('static/src/home.png');"></div>
        </a>
        <a id="chat_link">
            <div class="quarter_circle" style="right: 0vw; background-image: url('static/src/chat.png');"></div>
        </a>
    </body>
    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })    
        
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
            }
            return "";
        }

        window.onload = function(){
            parameter = window.location.href.split('?')
            if(parameter.length == 1){
                parameter[1] = "account=account"
            }

            var check_in = 0
            if(parameter[1].split("&").length == 1){
                if( parameter[1].toString().split("&")[0].split('=')[0] != "account" | parameter[1].toString().split("&")[0].split('=')[1] != getCookie("account")){
                    check_in = 1;
                }
            }
            else if(parameter[1].split("&").length == 2) {
                if( parameter[1].toString().split("&")[0].split('=')[0] != "account" | parameter[1].toString().split("&")[1].split('=')[0] != "pg" | (parameter[1].toString().split("&")[1].split('=')[1] != "group" & parameter[1].toString().split("&")[1].split('=')[1] != "invite")  | parameter[1].toString().split("&")[0].split('=')[1] != getCookie("account")){
                    check_in = 1;
                }
            }
            else if(parameter[1].split("&").length == 3) {
                if( parameter[1].toString().split("&")[0].split('=')[0] != "account" | parameter[1].toString().split("&")[1].split('=')[0] != "pg" | (parameter[1].toString().split("&")[1].split('=')[1] != "group" & parameter[1].toString().split("&")[1].split('=')[1] != "invite") | parameter[1].toString().split("&")[2].split('=')[0] != "search"  | parameter[1].toString().split("&")[0].split('=')[1] != getCookie("account")){
                    check_in = 1;
                }
            }
            
            if( check_in ){
                split_q = parameter;
                split_and = parameter[1].split('&');
                split_and[0] = "account=" + getCookie("account");
                split_and_length = 1
                
                if(split_and.length == 2){
                    console.log( parameter[1].split('&')[1].split('=')[1] )
                    if( (parameter[1].split('&')[1].split('=')[1] == "group") | (parameter[1].split('&')[1].split('=')[1] == "invite")){
                        split_and[1] = "pg=" + parameter[1].split('&')[1].split('=')[1];
                    }
                    else{
                        split_and[1] = "pg=group";
                    }
                    
                    split_and_length = 2;
                }
                else if(split_and.length >= 3){
                    split_and[1] = "pg=" + parameter[1].split('&')[1].split('=')[1];
                    split_and[2] = "search=" + parameter[1].split('&')[2].split('=')[1];
                    split_and_length = 3
                }
                
                loc = split_q[0] + "?"
                for(var i=0; i < split_and_length; i++){
                    if (i == split_and_length-1){
                        loc = loc + split_and[i]
                    }
                    else{
                        loc = loc + split_and[i] + "&"
                    }
                }
                window.location.href = loc
            }
            else{
                console.log(window.innerHeight, window.innerWidth)
                var padding = (11.8 * window.innerHeight + 15 * window.innerWidth) / 100
                $(".friend-tab-content").attr("style", "padding-top:" + padding + "px;" )

                parameter = window.location.href.split('?')[1].split('&')
                if(parameter.length == 1){
                    $("#tab_friend").attr('class', 'active' )
                    $("#tab_group").attr('class', '' )
                    $("#tab_invite").attr('class', '' )
                    $("#friend-list").attr('class', 'tab-pane fade in active')
                    $("#group-list").attr('class', 'tab-pane fade')
                    $("#add-friend").attr('class', 'tab-pane fade')
                    get_friend_page();
                }
                else if(parameter.length == 2){
                    if(parameter[1].split('=')[1] == "friend"){
                        $("#tab_friend").attr('class', 'active' )
                        $("#tab_group").attr('class', '' )
                        $("#tab_invite").attr('class', '' )
                        $("#friend-list").attr('class', 'tab-pane fade in active')
                        $("#group-list").attr('class', 'tab-pane fade')
                        $("#add-friend").attr('class', 'tab-pane fade')
                        get_friend_page();
                    }
                    else if(parameter[1].split('=')[1] == "group"){
                        $("#tab_friend").attr('class', '' )
                        $("#tab_group").attr('class', 'active' )
                        $("#tab_invite").attr('class', '' )
                        $("#friend-list").attr('class', 'tab-pane fade')
                        $("#group-list").attr('class', 'tab-pane fade in active')
                        $("#add-friend").attr('class', 'tab-pane fade')
                        get_friend_group();
                    }
                    else{
                        $("#tab_friend").attr('class', '' )
                        $("#tab_group").attr('class', '' )
                        $("#tab_invite").attr('class', 'active' )
                        $("#friend-list").attr('class', 'tab-pane fade')
                        $("#group-list").attr('class', 'tab-pane fade')
                        $("#add-friend").attr('class', 'tab-pane fade in active')
                        get_friend_invitation();
                    }
                }
                else if(parameter.length == 3){
                    $("#tab_friend").attr('class', '' )
                    $("#tab_group").attr('class', '' )
                    $("#tab_invite").attr('class', 'active' )
                    $("#friend-list").attr('class', 'tab-pane fade')
                    $("#group-list").attr('class', 'tab-pane fade')
                    $("#add-friend").attr('class', 'tab-pane fade in active')
                    search_friend();
                }

                // get_friend_page();
                document.getElementById('back_arrow_link').href = "/main?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
                document.getElementById('home_link').href = "/main?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
                document.getElementById('chat_link').href = "/chatroom?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
            }
        }

        $('#tab_friend').click( function() {
            window.location.href = "/friend?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
            // get_friend_page();
        })

        $('#tab_group').click( function() {
            window.location.href = "/friend?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] +'&pg=group';
            // get_friend_group();
        })

        $('#tab_invite').click( function() {
            window.location.href = "/friend?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] +'&pg=invite';
            // get_friend_invitation();
        })

        // ADD GUIDE
        $('.btn-help').click( function(){
            if($('#tab_friend').hasClass('active')){
                Swal.fire({
                    width: '100vw',
                    background: 'url(static/help/f1.png)',
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: 'swal-custom-guide'
                });
            }else if($('#tab_group').hasClass('active')){
                Swal.fire({
                    width: '100vw',
                    background: 'url(static/help/f2.png)',
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: 'swal-custom-guide'
                });
            }else if($('#tab_invite').hasClass('active')){
                if($('#search_friend_container').css('display') != 'none'){
                    Swal.fire({
                        width: '100vw',
                        background: 'url(static/help/f4.png)',
                        showConfirmButton: false,
                        showCloseButton: true,
                        customClass: 'swal-custom-guide'
                    });
                }else {
                    Swal.fire({
                        width: '100vw',
                        background: 'url(static/help/f3.png)',
                        showConfirmButton: false,
                        showCloseButton: true,
                        customClass: 'swal-custom-guide'
                    });
                }
            }
        })

        $(document).on('click', "#friend_search",function(){
            friend_search_timer = window.setInterval( get_friend_page , 500)
            // get_friend_page();
        })

        $('#friend_search_delete').click(function(){
            window.clearInterval(friend_search_timer);
            document.getElementById("friend_search").value = ""
            get_friend_page();
        })

        $(document).on('click', "#group_search",function(){
            group_search_timer = window.setInterval( get_friend_group , 500)
            // get_friend_group();
        })

        $('#group_search_delete').click(function(){
            window.clearInterval(group_search_timer);
            document.getElementById("group_search").value = ""
            get_friend_group();
        })

        var last_friend_list = ""
        function get_friend_page() {
            $.ajax({
                url: '/get_friend_page',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    "account": window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'search': document.getElementById("friend_search").value,
                    "last_friend_list": last_friend_list.toString(),
                },
                success: function (data) {
                    if(data.result == 'success'){
                        last_friend_list = data.friend_ID;
                        $('#friend_container').html("");
                        if(data.friend_ID.length==0){
                            // $('#friend_container').append("哈哈哈你沒朋友" + '<br>')
                            if(document.getElementById("friend_search").value==""){
                                $('#friend_container').append(
                                    '<div class="error_text">尚無好友，快去抽卡<br>或破任務認識新朋友吧!</div>'    
                                )
                            }
                            else{
                                $('#friend_container').append(
                                    '<div class="error_text">查無此好友名稱!</div>'    
                                )
                            }
                            
                        }
                        else
                        {
                            var pic_list = data.friend_photo
                            for(var i = 0; i < pic_list.length;i++){
                                // $.ajax({
                                //     url: '/get_img',
                                //     method: 'POST',
                                //     type: 'POST',
                                //     async: false, //改成同步執行(等待上一個回傳)
                                //     data: {
                                //         "img_path": pic_list[i],
                                //     },
                                //     success: function (img) {
                                        $('#friend_container').append(
                                            '<div onclick=create_profile_modal("'+ data.friend_ID[i]+'") class="friend-item" data-toggle="modal" data-target="#check-friend-modal">\
                                                <div class="friend-photo" id="friend_photo_'+ i.toString() +'"></div>\
                                                <div class="friend-name">'+ data.friend_name[i] +'</div>\
                                            </div>'
                                        )
                                //     }
                                // });
                            }
                            $('#friend_container').append(
                                '<div class="friend-item">\
                                </div>'
                            )

                            for(var i = 0; i < pic_list.length; i++){
                                $.ajax({
                                    url: '/get_img_count',
                                    method: 'POST',
                                    type: 'POST',
                                    // async: false, //改成同步執行(等待上一個回傳)
                                    data: {
                                        "img_path": pic_list[i],
                                        "count": i.toString(),
                                    },
                                    success: function (img) {
                                        image = img.split("'")
                                        $('#friend_photo_'+ image[2].toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + image[1] + ')' )
                                    }
                                });
                            }
                        }
                    }
                    else if(data.result == 'same'){

                    }
                }
            })
        }

        function create_profile_modal(friend_ID){
            console.log(friend_ID)
            $.ajax({
                url: '/get_friend_chatroom',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    "account": window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': friend_ID,
                },
                success: function (data) {
                    if(data.result == 'success'){
                        $.ajax({
                            url: '/get_img',
                            method: 'POST',
                            type: 'POST',
                            async: false, //改成同步執行(等待上一個回傳)
                            data: {
                                "img_path": data.friend_photo,
                            },
                            success: function (img) {
                                $('#profile_modal_container').html(
                                    '<div class="modal-body">\
                                            <div class="modal-body-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                            <div class="modal-body-text" style="font-size: 7vw;">'+ data.friend_name +'</div>\
                                        </div>\
                                        <div onclick=goto_chatroom('+ data.chatroom_ID +') type="button" class="modal-btn-cancel" style="height: auto;">開始<br>聊天</div>\
                                        <div onclick=goto_profile("'+ friend_ID +'") type="button" class="modal-btn-confirm" style="height: auto;">個人<br>資訊</div>'
                                )
                            }
                        });
                    }
                }
            })

            
                    
        }

        function get_friend_group(){
            var last_group_list = ""
            $.ajax({
                url: '/get_friend_group',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    "account": window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'search': document.getElementById("group_search").value,
                    "last_group_list": last_group_list.toString(),
                },
                success: function (data) {
                    if(data.result == 'success'){
                        last_group_list = data.chatroom_ID;
                        $('#group_container').html("");
                        console.log("load success")
                        if(data.group_name.length==0){
                            if(document.getElementById("group_search").value==""){
                                $('#group_container').append(
                                    '<div class="error_text">尚無群組<br>快去揪團破任務吧!</div>'    
                                )
                            }
                            else{
                                $('#group_container').append(
                                    '<div class="error_text">查無此群組名稱!</div>'    
                                )
                            }
                            
                        }
                        else
                        {
                            var pic_list = data.chat_img
                            for(var i = 0; i < pic_list.length;i++){
                                // $.ajax({
                                //     url: '/get_img',
                                //     method: 'POST',
                                //     type: 'POST',
                                //     async: false, //改成同步執行(等待上一個回傳)
                                //     data: {
                                //         "img_path": pic_list[i],
                                //     },
                                //     success: function (img) {
                                        $('#group_container').append(
                                            '<div onclick=goto_chatroom('+ data.chatroom_ID[i] +') class="friend-group-item">\
                                                <div class="friend-group-photo" id="group_photo_'+ i.toString() +'"></div>\
                                                <div class="friend-group-name">'+　data.group_name[i]+'('+ data.group_number[i] +')</div>\
                                            </div>'
                                        )
                                //     }
                                // });
                            }
                            $('#group_container').append(
                                '<div class="friend-group-item">\
                                </div>'
                            )

                            for(var i = 0; i < pic_list.length; i++){
                                $.ajax({
                                    url: '/get_img_count',
                                    method: 'POST',
                                    type: 'POST',
                                    // async: false, //改成同步執行(等待上一個回傳)
                                    data: {
                                        "img_path": pic_list[i],
                                        "count": i.toString(),
                                    },
                                    success: function (img) {
                                        image = img.split("'")
                                        $('#group_photo_'+ image[2].toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + image[1] + ')' )
                                    }
                                });
                            }
                        }
                    
                    }
                    else if (data.result == "same"){

                    }
                }
            })
        }

        function get_friend_invitation(){
            console.log("?")
            $.ajax({
                url: '/get_friend_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    "account": window.location.href.split('?')[1].split('&')[0].split('=')[1],
                },
                success: function (data) {
                    if(data.result == 'success'){
                        $('#friend_invitation_container').html("");
                        console.log(data.friend_ID.length)
                        if(data.friend_ID.length==0){
                            $('#friend_invitation_container').append(
                                '<div class="error_text">尚無好友邀請!</div>'    
                            )
                        }
                        else
                        {
                            var pic_list = data.friend_photo
                            for(var i = 0; i < pic_list.length;i++){
                                // $.ajax({
                                //     url: '/get_img',
                                //     method: 'POST',
                                //     type: 'POST',
                                //     async: false, //改成同步執行(等待上一個回傳)
                                //     data: {
                                //         "img_path": pic_list[i],
                                //     },
                                //     success: function (img) {
                                        $('#friend_invitation_container').append(
                                            '<div class="add-friend-item">\
                                                <div onclick=goto_profile("'+ data.friend_ID[i] +'") id="invite_photo_'+ i.toString() +'" class="add-friend-photo"></div>\
                                                <div onclick=goto_profile("'+ data.friend_ID[i] +'") class="add-friend-name">'+ data.friend_name[i] +'</div>\
                                                <div class="add-friend-btn" onclick=accept_invitation("' + data.friend_ID[i] + '")>確認</div>\
                                                <div class="cancel-friend-btn" onclick=reject_invitation("' + data.friend_ID[i] + '")>取消</div>\
                                            </div>'
                                        )
                                //     }
                                // });
                            }
                            $('#friend_invitation_container').append(
                                '<div class="add-friend-item">\
                                </div>'
                            )

                            for(var i = 0; i < pic_list.length; i++){
                                $.ajax({
                                    url: '/get_img_count',
                                    method: 'POST',
                                    type: 'POST',
                                    // async: false, //改成同步執行(等待上一個回傳)
                                    data: {
                                        "img_path": pic_list[i],
                                        "count": i.toString(),
                                    },
                                    success: function (img) {
                                        image = img.split("'")
                                        $('#invite_photo_'+ image[2].toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + image[1] + ')' )
                                    }
                                });
                            }
                        }
                    
                    }
                }
            })
        }


        function accept_invitation(invitation_ID, type=0){
            console.log(invitation_ID)
            $.ajax({
                url: '/accept_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': invitation_ID,
                },
                success: function (data) {
                    if (data.result == "success"){
                        if(type==0){
                            get_friend_invitation();
                        }
                        else{
                            $('.confirm-add-id-btn').click();
                        }
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                        get_friend_invitation();
                    }                
                }
            });
        }

        function reject_invitation(invitation_ID, type=0){
            console.log(invitation_ID)
            $.ajax({
                url: '/reject_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': invitation_ID,
                },
                success: function (data) {
                    if (data.result == "success"){
                        if(type==0){
                            get_friend_invitation();
                        }
                        else{
                            $('.confirm-add-id-btn').click();
                        }
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                        get_friend_invitation();
                    }
                }
            });
        }

        function send_invitation(invitation_ID){
            console.log(invitation_ID)
            $.ajax({
                url: '/send_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': invitation_ID,
                },
                success: function (data) {
                    if (data.result == "success"){
                        $('.confirm-add-id-btn').click();
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                        get_friend_invitation();
                    }                
                }
            });
        }

        function cancel_invitation(invitation_ID){
            console.log(invitation_ID)
            $.ajax({
                url: '/cancel_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': invitation_ID,
                },
                success: function (data) {
                    if (data.result == "success"){
                        $('.confirm-add-id-btn').click();
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                        get_friend_invitation();
                    }                
                }
            });
        }

        function delete_friend(others){
            $.ajax({
                url: '/delete_friend',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': others,
                },
                success: function (data) {
                    if (data.result == "success"){
                        $('.confirm-add-id-btn').click();
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                        get_friend_invitation();
                    }                
                }
            });
        }

        function search_friend(){
            $('.add-friend-field').hide();
            $('.new-friend-field').show();
            document.getElementById('invitation_search').value = window.location.href.split('?')[1].split('&')[2].split('=')[1];
            $.ajax({
                url: '/search_friend_ID',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'search': window.location.href.split('?')[1].split('&')[2].split('=')[1],
                },
                success: function (data) {
                    if (data.result == "success"){
                        $('#search_friend_container').html("");
                        $("#check_modal_container").html("");
                        $.ajax({
                            url: '/get_img',
                            method: 'POST',
                            type: 'POST',
                            async: false, //改成同步執行(等待上一個回傳)
                            data: {
                                "img_path": data.profile_photo,
                            },
                            success: function (img) {
                                $('#search_friend_container').append(
                                    '<div onclick=goto_profile("'+ document.getElementById('invitation_search').value +'")>\
                                        <div class="new-friend-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                        <div class="new-friend-name">'+ data.name +'</div>\
                                    </div>'
                                )

                                $.ajax({
                                    url: '/get_relationship',
                                    method: 'POST',
                                    type: 'POST',
                                    dataType: "json",
                                    data: {
                                        'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                                        'others': data.ID,
                                    },
                                    success: function (relation) {
                                        others = data.ID
                                        $('#friend_button').html('<div class="friend_button"></div>')
                                        if(relation.result=="friend"){
                                            $('#search_friend_container').append(
                                                '<div class="new-friend-name" style="font-size: 5vw;">已經是您的好友</div>\
                                                <div style="background-color: #E26F50;" type="button" class="new-friend-btn" data-toggle="modal" data-target="#add-friend-modal">刪除好友</div>'
                                            )

                                            $("#check_modal_container").append(
                                                '<div class="modal-body">\
                                                    <div class="modal-body-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                                    <div class="modal-body-text">\
                                                        確定刪除好友 ' + data.name + ' 嗎？\
                                                    </div>\
                                                </div>\
                                                <div type="button" class="modal-btn-cancel" data-dismiss="modal">取消</div>\
                                                <div type="button" class="modal-btn-confirm" data-dismiss="modal" onclick=delete_friend("'+ others +'")>確認</div>'
                                            )
                                        }
                                        else if(relation.result=="invitation_send"){
                                            $('#search_friend_container').append(
                                                '<div class="new-friend-name" style="font-size: 5vw;">您已送出好友邀請</div>\
                                                <div style="background-color: #E26F50;" type="button" class="new-friend-btn" data-toggle="modal" data-target="#add-friend-modal">取消邀請</div>'
                                            )

                                            $("#check_modal_container").append(
                                                '<div class="modal-body">\
                                                    <div class="modal-body-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                                    <div class="modal-body-text">\
                                                        確定取消對 ' + data.name + '<br>的好友邀請嗎？\
                                                    </div>\
                                                </div>\
                                                <div type="button" class="modal-btn-cancel" data-dismiss="modal">取消</div>\
                                                <div type="button" class="modal-btn-confirm" data-dismiss="modal" onclick=cancel_invitation("'+ others +'")>確認</div>'
                                            )
                                        }
                                        else if(relation.result=="invitation_receive"){
                                            $('#search_friend_container').append(
                                                '<div class="new-friend-name" style="font-size: 5vw;">已對您送出好友邀請</div>\
                                                <div type="button" class="new-friend-btn" data-toggle="modal" data-target="#add-friend-modal">確認邀請</div>'
                                            )

                                            $("#check_modal_container").append(
                                                '<div class="modal-body">\
                                                    <div class="modal-body-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                                    <div class="modal-body-text">\
                                                        確定接受 ' + data.name + '<br>的好友邀請嗎？\
                                                    </div>\
                                                </div>\
                                                <div type="button" class="modal-btn-cancel" data-dismiss="modal">取消</div>\
                                                <div type="button" class="modal-btn-confirm" data-dismiss="modal" onclick=accept_invitation("'+ others +'", 1)>確認</div>'
                                            )                                            
                                        }
                                        else{
                                            $('#search_friend_container').append(
                                                '<div class="new-friend-name" style="font-size: 5vw;">尚未加入好友</div>\
                                                <div type="button" class="new-friend-btn" data-toggle="modal" data-target="#add-friend-modal">新增好友</div>'
                                            )

                                            $("#check_modal_container").append(
                                                '<div class="modal-body">\
                                                    <div class="modal-body-photo" style=" background-image: url(data:image/jpg;base64,' + img + ')"></div>\
                                                    <div class="modal-body-text">\
                                                        確定發送好友邀請給<br>' + data.name + ' 嗎？\
                                                    </div>\
                                                </div>\
                                                <div type="button" class="modal-btn-cancel" data-dismiss="modal">取消</div>\
                                                <div type="button" class="modal-btn-confirm" data-dismiss="modal" onclick=send_invitation("'+ others +'")>確認</div>'
                                            )                                            
                                        }
                                    }
                                })
                            }
                        });
                    }
                    else if (data.result == "not_found") {
                        $('#search_friend_container').html(
                            '<div class="error_text">找無此ID，請重新搜尋!</div>'
                        );
                    }
                    else if (data.result == "found_self") {
                        $('#search_friend_container').html(
                            '<div class="error_text">無法搜尋自己ID，請重新搜尋!</div>'
                        );
                    }
                    
                }
            });
        }


        $('.confirm-add-id-btn').on("click", function(){
            search_ID = document.getElementById('invitation_search').value;
            window.location.href = "/friend?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] +'&pg=invite&search=' + search_ID;
        })

        function goto_profile(others){
            window.location.href = "/profile?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] +'&profileID='+ others;
        }

        function goto_chatroom(chatroom_ID){
            window.location.href = "/chatroom?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] + "&chatroom_ID=" + chatroom_ID;
        }

        $('#cancel-new-friend').on("click", function(){
            window.location.href = "/friend?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1] +'&pg=invite';
            $('.add-friend-field').show();
            $('.new-friend-field').hide();
            $('#search_friend_container').html("");
            document.getElementById('invitation_search').value = "";
        })

    </script>
</html>