<!DOCTYPE html>
<html>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">
        <link href="./static/login.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        <div id="all">
            <div id="login_page">
                <div class="navbar">
                    <a href="/start">
                        <img src="./static/src/back_arrow.png" class="prev" id="login_prev">
                    </a>
                </div> 
                <p id="login_text">登 錄</p>
                <input type="text" id="account" name="account" class="input" placeholder=" 你的帳號">              
                <input type="password" id="password" name="password" class="input" placeholder=" 你的密碼" >
                <input type="submit" value="確認" id="check" class="submit">
                             
            </div>

        </div>
 
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
        <script >

            $('#cancel').click((event) => {
                $("#account").val("");
                $("#password").val("");
            })

            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
            })  

            window.onload = function(){
                // if window.location.href.split("?")[0].
                if (window.location.href.split("?")[0].indexOf('login') <= -1) { //沒有login
                    window.location.href = "login"
                }
            }

            $("#check").click( function() {
                $.ajax({
                    url: '/login_check',
                    method: 'POST',
                    type: 'POST',
                    dataType: "json",
                    data: {
                        "account": document.getElementById("account").value,
                        "password": document.getElementById("password").value,
                    },
                    success: function (data) {
                        if (data.result == "success"){
                            console.log("success")
                            account = document.getElementById("account").value
                            window.location.href = "/main?account="+account
                        }
                        else if(data.result == "password_error"){
                            Swal.fire({
                                title: '密碼錯誤!',
                                icon: 'error',
                                width: '70vw',
                                heightAuto: false,
                                background: '#E9BBA4',
                                showConfirmButton: false,
                                customClass: 'swal-custom'
                            })
                        }
                        else if(data.result == "not_found"){
                            Swal.fire({
                                title: '無此帳號!',
                                icon: 'error',
                                width: '70vw',
                                heightAuto: false,
                                background: '#E9BBA4',
                                showConfirmButton: false,
                                customClass: 'swal-custom'
                            })
                        }
                    
                    }
                });
            });
        </script> 
    </body>
</html>