<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <script src="static/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>        
        <link href="static/mission.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        <div class="header">
            <a id="back_arrow_link">
                <div class="back_arrow"></div>
            </a>
            
            <div class="title_text">任 務</div>
            <div class="btn-help" type="button"></div>
        </div>

        <ul class="nav nav-tabs nav-justified top-tab" style="position: fixed; top: 22vw;">
            <li class="active" id="top-tab-explore">
                <div id="tab-explore" data-toggle="tab" href="#explore-mission" ></div>
            </li>
            <li id="top-tab-my-mission">
                <div id="tab-my-mission" data-toggle="tab" href="#my-mission" ></div>
            </li>
        </ul>
        <div class="tab-footer"></div>
        <div class="body-tab-content tab-content">
            <div id="explore-mission" class="tab-pane fade in active">
                <div class="search-bar">
                    <form class="search">
                        <!-- <img src="src/search.png" class="mission-search-icon"> -->
                        <input id="mission_search" type="search" placeholder=" 輸入任務名稱" class="search-input">
                        <button id="mission_search_delete" type="reset" class="btn_cancel">取消</button>
                    </form>    
                </div> 

                <div class="select-type">
                    <div class="type-select-bar">
                        <div class="type-select-btn">
                            <div href='#type-btn-group' data-toggle="collapse" data-parent="#type-select-bar">
                                <div class="select-btn">類別</div>
                            </div>
                        </div>
                        <div id="type-btn-group" class="collapse">
                            <div class="btn-group">
                                <button id="entertainment">• 娛樂 </button>
                                <button id="learning">• 學習</button>
                                <button id="handcraft">• 手作</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="mission_container">
                    <!-- JavaScript append -->
                </div>
            </div>
            <div id="my-mission" class="tab-pane fade">
                <div class="jf-continer" id = 'page1'>
                    <!-- JavaScript append -->
                </div>
            </div>
        </div>
        <div id="create_group_modal"></div>
        <div id="test_modal"></div>
        <div id="join_group_modal"></div>
        <div id="submit_modal"></div>
        <div id="finished_modal"></div>

        <a id="home_link">
            <div class="quarter_circle" style="left: 0vw; background-image: url('static/src/home.png');"></div>
        </a>
        <a id="chat_link">
            <div class="quarter_circle" style="right: 0vw; background-image: url('static/src/chat.png');"></div>
        </a>
        
    </body>
</html>

<script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })    

    window.onload = function(){
        all_mission();
        document.getElementById('back_arrow_link').href = "/main?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
        document.getElementById('home_link').href = "/main?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
        document.getElementById('chat_link').href = "/chatroom?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];

    }

    $(document).on('change', "#mission_search",function(){
        all_mission();
    })

    $('#mission_search_delete').click(function(){
        document.getElementById("mission_search").value = ""
        all_mission();
    })

    $('#tab-explore').click( function() {
        all_mission();
    })

    $('#tab-my-mission').click( function() {
        my_mission("join");
    })
    
    $(document).on('click', "#finished_t",function(){
        my_mission("finished");
    })

    $(document).on('click',"#joined_t" ,function(){
        my_mission("join");
    })

    // ADD GUIDE
    $('.btn-help').click( function(){
        if($('#top-tab-explore').hasClass('active')) {
            if($('.collapse').hasClass('in')) {
                if($('#right-tab').hasClass('active')){
                    Swal.fire({
                        width: '100vw',
                        background: 'url(static/help/m3.png)',
                        showConfirmButton: false,
                        showCloseButton: true,
                        customClass: 'swal-custom-guide'
                    });    
                }else {
                    Swal.fire({
                        width: '100vw',
                        background: 'url(static/help/m2.png)',
                        showConfirmButton: false,
                        showCloseButton: true,
                        customClass: 'swal-custom-guide'
                    });    
                }        
            }else {
                Swal.fire({
                    width: '100vw',
                    background: 'url(static/help/m1.png)',
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: 'swal-custom-guide'
                });    
            }        
        }else if($('#top-tab-my-mission').hasClass('active')) {
            if($('#joined_t').css('color') == 'rgb(255, 255, 255)') {
                Swal.fire({
                    width: '100vw',
                    background: 'url(static/help/m4.png)',
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: 'swal-custom-guide'
                });        
            }else {
                Swal.fire({
                    width: '100vw',
                    background: 'url(static/help/m5.png)',
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: 'swal-custom-guide'
                });
            }
            
        }
        
    })
    


    function my_mission(type) {
        $('#page1').html("");
        if(type=="join"){
            $('#page1').append(
                "<div class='top_block'>\
                    <div class='joined_text' id = 'joined_t'>待完成</div>\
                    <div class='finished_text' id ='finished_t'>已完成</div>\
                    <img src = 'static/new_element/asset 321.png' class = 'design_line'>\
                </div>"
            )

        }
        else if(type=="finished"){
            $('#page1').append(
                "<div class='top_block'>\
                    <div class='joined_text' id = 'joined_t' >待完成</div>\
                    <div class='finished_text' id ='finished_t' >已完成</div>\
                    <img src = 'static/new_element/asset 321.png' class = 'design_line'>\
                </div>"
            )
            $('#joined_t').attr('style', "background-image: url(static/new_element/asset320.png); color:rgba(245, 158, 86, 0.8);")
            $('#finished_t').attr('style', "background-image: url(static/new_element/asset319.png); color:white;")

        }
        $.ajax({
              url: '/get_my_mission',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                "user_ID": window.location.href.split('?')[1].split('&')[0].split('=')[1],
              },
              success: function (data) {
                if (data.result == "success"){
                    var pic_list = data.mission_pic
                    console.log(pic_list)
                    for(var i = 0; i < pic_list.length; i++){
                        $.ajax({
                        url: '/get_img',
                        method: 'POST',
                        type: 'POST',
                        async: false, //改成同步執行(等待上一個回傳)
                        data: {
                            "img_path": pic_list[i],
                        },
                        success: function (img) {
                            console.log(data.status[i])
                            if(type=="join" && (data.status[i]=="acceptable" || data.status[i]=="full")){
                                $('#page1').append(
                                    '<div class="test_block">\
                                        <div class="joined_mission"></div>\
                                        <div id="joined_pic_'+ i.toString() +'" class="joined_pic"></div>\
                                        <button class="btn-submit" type="button" data-toggle="modal" data-target="#btn-submit-modal'+i.toString()+'">提交</button>\
                                        <div class = "mission_name">'+ data.mission_name[i] +'</div>\
                                        <div class = "mission_chat">'+ data.group_name[i] +'</div>\
                                    </div>'
                                )
                                $('#joined_pic_'+i.toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )

                                $('#submit_modal').append(
                                    '<div class="modal fade" id="btn-submit-modal'+ i.toString() +'" tabindex="-1" aria-hidden="true" data-backdrop="static">\
                                        <div class="submit-modal-dialog">\
                                            <div class="submit-modal-content">\
                                                <form>\
                                                    {% csrf_token %}\
                                                    <label>\
                                                        <input id="image-input'+ i.toString() +'" type="file" name="image" style="visibility: hidden;">\
                                                    </label>\
                                                    <div type="button" onclick="upload_img('+i.toString()+')"  id="upload_img_'+ i.toString() +'" class="upload_img_div"></div>\
                                                </form>\
                                                <button onclick="submit_no()" type="button" class="submit-modal-btn-cancel" data-dismiss="modal">取消</button>\
                                                <button id="submit-modal-btn-confirm'+ i.toString() +'" onclick="submit_yes('+i.toString()+','+data.mission_doing_chatroom_ID[i]+')" type="button" class="submit-modal-btn-confirm" data-dismiss="modal">確認</button>\
                                            </div>\
                                        </div>\
                                    </div>'
                                )
                            }
                            else if(type=="finished"){
                                console.log("in")
                                if(data.status[i]=="checking"){
                                    $('#page1').append(
                                        '<div class="test_block">\
                                            <div class="joined_mission"></div>\
                                            <div id="joined_pic_'+ i.toString() +'" class="joined_pic"></div>\
                                            <button class="btn-finished" type="button" data-toggle="modal" data-target="#btn-submit-modal">審核中</button>\
                                            <div class = "mission_name">'+ data.mission_name[i] +'</div>\
                                            <div class = "mission_chat">'+ data.group_name[i] +'</div>\
                                        </div>'
                                    )
                                    $('#joined_pic_'+i.toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                                }
                                else if(data.status[i]=="finished"){
                                    $('#page1').append(
                                        '<div class="test_block">\
                                            <div class="joined_mission"></div>\
                                            <div id="joined_pic_'+ i.toString() +'" class="joined_pic"></div>\
                                            <button class="btn-finished" type="button" data-toggle="modal" data-target="#btn-submit-modal">已完成</button>\
                                            <div class = "mission_name">'+ data.mission_name[i] +'</div>\
                                            <div class = "mission_chat">'+ data.group_name[i] +'</div>\
                                        </div>'
                                    )
                                    $('#joined_pic_'+i.toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                                }
                                
                            }
                            
                        }
                        });
                    }
                    $('#page1').append(
                        '<div class="test_block" style="height: 15vw">\
                        </div>'
                    )
                }
              }
        });
    }

    var image_change = 0;
    function upload_img(i) {
        console.log('#image-input'+i.toString())
        $(document).on('change','#image-input'+i.toString(),function () {
            image_change = 1;
            console.log("change")
            var choose_file = $(this)[0].files[0];
            var reader = new FileReader();
            reader.readAsDataURL(choose_file);
            reader.onload = function () {
                console.log(reader.result)
                $("#upload_img_"+i.toString()).attr("style", 'background-image: url('+reader.result+')')
            }
        })
        console.log('#image-input'+i.toString())
        $('#image-input'+i.toString()).click();
    }
    
    function submit_yes(i,chatroom_ID) {
        if(image_change==1){
            $.ajax({
                url: '/submit_mission_group_check',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    "chatroom_ID": chatroom_ID,
                },
                success: function (data) {
                    if (data.result == "success"){
                        var formdata = new FormData();
                        console.log($('#image-input'+i.toString())[0].files[0])
                        formdata.append("image", $('#image-input'+i.toString())[0].files[0]);
                        formdata.append("chatroom_ID",chatroom_ID);
                        formdata.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());
                        $.ajax({
                            processData:false,
                            contentType:false,
                            url:'/submit_mission_group',
                            type:'POST',
                            data:formdata,
                            dataType:"json",
                            success: function (data) {
                                // alert("提交完成")
                                $('#submit-modal-btn-confirm'+ i.toString()).attr('data-dismiss', "modal");
                                // window.location.href = "/mission?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];
                                Swal.fire({
                                    title: '提交完成!',
                                    icon: 'success',
                                    width: '70vw',
                                    heightAuto: false,
                                    background: '#E9BBA4',
                                    showConfirmButton: false,
                                    customClass: 'swal-custom'
                                });

                                $('#tab-my-mission').click();
                            }
                        });
                    }
                    else if(data.result=="not_enough"){
                        // alert("人數不足以提交任務")
                        $("#submit-modal-btn-confirm"+ i.toString()).attr('data-dismiss', "modal");
                        Swal.fire({
                            title: '人數不足以提交任務!',
                            icon: 'error',
                            width: '70vw',
                            heightAuto: false,
                            background: '#E9BBA4',
                            showConfirmButton: false,
                            customClass: 'swal-custom'
                        });
                    }
                    else if(data.result=="error"){
                        // alert("error")
                        $("#submit-modal-btn-confirm"+ i.toString()).attr('data-dismiss', "modal");
                        Swal.fire({
                            title: '出現錯誤，請再試一次!',
                            icon: 'error',
                            width: '70vw',
                            heightAuto: false,
                            background: '#E9BBA4',
                            showConfirmButton: false,
                            customClass: 'swal-custom'
                        });
                    }
                }
            });
        }
        else{
            // alert("請上傳照片!")
            Swal.fire({
                title: '請上傳相片！',
                icon: 'warning',
                width: '70vw',
                heightAuto: false,
                background: '#E9BBA4',
                showConfirmButton: false,
                customClass: 'swal-custom'
            });
        }
        image_change = 0;
    }

    function submit_no() {
        image_change = 0;
    }

    function all_mission() {
        $('#mission_container').html("");
        console.log($('#mission_container'))
        $.ajax({
              url: '/get_all_mission',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  "search": document.getElementById("mission_search").value,
              },
              success: function (data) {
                if (data.result == "success"){
                    var pic_list = data.mission_pic
                    if(pic_list.length == 0){
                        $("#mission_container").html('<div class="error_text">搜尋不到此任務名稱!</div>'  )
                    }
                    else{
                        for(var i = 0; i < pic_list.length; i++){
                            $.ajax({
                            url: '/get_img',
                            method: 'POST',
                            type: 'POST',
                            async: false, //改成同步執行(等待上一個回傳)
                            data: {
                                "img_path": pic_list[i],
                            },
                            success: function (img) {
                                console.log("success")
                                $('#mission_container').append(                             
                                    '<div class="mission-card">\
                                        <div class="card-header">\
                                            <div href="#collapse'+ i.toString() +'" data-toggle="collapse" data-parent="#explore-mission">\
                                                <div class="card-img" style="background-size: cover; background-image: url(data:image/jpg;base64,' + img + ') ">\
                                                </div>\
                                                <div class="mission-title">'+ data.mission_name[i] +'</div>\
                                                <div class="mission-joined">已有'+ data.joined[i]  +'人參加</div>\
                                                <div class="mission-exp">\
                                                    <div class="exp-val">\
                                                        <p>'+ data.exp1[i] +'</p><p>' + data.exp2[i] + '</p><p>' + data.exp3[i] +'</p>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div>\
                                        <div id="collapse' + i.toString() + '"class="collapse">\
                                            <div class="card-body">\
                                                <ul class="nav nav-tabs nav-justified mission-info-tab">\
                                                    <li id="left-tab" class="active">\
                                                        <a data-toggle="tab" href="#mission-intro'+ i.toString() +'">任務介紹</a>\
                                                    </li>\
                                                    <li id="right-tab">\
                                                        <a data-toggle="tab" onclick="mission_signup(' + data.mission_ID[i] + "," + data.group_required[i] + ')" href="#mission-signup_'+ data.mission_ID[i] +'">揪團報名</a>\
                                                    </li>\
                                                </ul>\
                                                <div class="tab-content card-tab-content">\
                                                    <div id="mission-intro'+ i.toString() +'" class="tab-pane fade in active">\
                                                        <div class="mission-intro-content">\
                                                            ' +data.mission_intro[i]+ '\
                                                        </div>\
                                                    </div>\
                                                    <div id="mission-signup_'+ data.mission_ID[i] +'" class="tab-pane fade">\
                                                        <button class="btn-create-group" type="button" data-toggle="modal" data-target="#create-group-modal">我要開團</button>\
                                                        <div id="mission_group_box_'+ data.mission_ID[i] +'" class="group-item-box">'+
                                                            // <div class="group-item">\
                                                            //     <div class="group-name">團名團名</div>\
                                                            //     <div class="group-need">缺5人</div>\
                                                            //     <button></button>\
                                                            // </div>\
                                                            // <div class="group-item">\
                                                            //     <div class="group-name">團名團名</div>\
                                                            //     <div class="group-need">缺5人</div>\
                                                            //     <button></button>\
                                                            // </div>\
                                                            // <div class="group-item">\
                                                            //     <div class="group-name">團名團名</div>\
                                                            //     <div class="group-need">缺5人</div>\
                                                            //     <button></button>\
                                                            // </div>\
                                                            // <div class="group-item">\
                                                            //     <div class="group-name">團名團名</div>\
                                                            //     <div class="group-need">缺5人</div>\
                                                            //     <button></button>\
                                                            // </div>\
                                                        '</div>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div>\
                                    </div>'
                                )
                            }
                            });
                        }

                        $('#mission_container').append(                             
                            '<div class="mission-card">\
                                <div class="card-header" style="background-color: white; height: 20vw;">\
                                </div>\
                            </div>'
                        )
                    }
                    
                }
              }
        });
    }

    


    function mission_signup(mission_ID,group_required){
        console.log(mission_ID)
        $('#mission_group_box_'+mission_ID).html("")
        $.ajax({
              url: '/get_mission_group',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  "user_ID": window.location.href.split('?')[1].split('=')[1],
                  "mission_ID": mission_ID,
              },
              success: function (data) {
                if (data.result == "success"){
                    html_code = ""
                    for(var i = 0; i < data.chatroom_ID.length; i++){
                        $('#mission_group_box_'+mission_ID).append(
                            '<div class="group-item">\
                                <div class="group-name">' + data.group_name[i] + '<br>目前: '+ data.group_now[i] +'人<br>尚缺: '+ (parseInt(data.group_most[i], 10) - parseInt(data.group_now[i], 10)).toString() +'人</div>\
                                <div>\
                                    <button class="btn-join" data-toggle="modal" data-target="#join-group-modal_' + data.chatroom_ID[i] + '"></button>\
                                    <div class="click-text">點擊加入</div>\
                                </div>\
                            </div>'
                        )

                        html_code += 
                            '<div class="modal fade" id="join-group-modal_' + data.chatroom_ID[i] + '" tabindex="-1" aria-hidden="true" data-backdrop="static">\
                                <div class="modal-dialog">\
                                    <div class="modal-content" style="height: 48vw;">\
                                        <div class="modal-body">\
                                            <div class="modal-body-text-confirm">\
                                                確定加入<br>' +
                                                data.group_name[i]+
                                                '<br>並報名此活動？\
                                            </div>\
                                        </div>\
                                        <button type="button" class="modal-btn-cancel" data-dismiss="modal">取消</button>\
                                        <button type="button" id="modal-btn-confirm-id_' + data.chatroom_ID[i] + '" class="modal-btn-confirm" onclick="join_group('+ mission_ID + ',' + data.chatroom_ID[i] +')">確認</button>\
                                    </div>\
                                </div>\
                            </div>'
                    }
                    $("#join_group_modal").html(html_code);

                    $('#create_group_modal').html(
                        '<div class="modal fade" id="create-group-modal" tabindex="-1" aria-hidden="true" data-backdrop="static">\
                            <div class="modal-dialog">\
                                <div class="modal-content">\
                                    <div class="modal-body">\
                                        <input id="group_name" type="text" placeholder="輸入團名(最多10字)" class="modal-input-group-name"><br>\
                                        <input id="group_most" type="number" placeholder="輸入人數(最少'+ group_required + '人)" class="modal-input-group-people"><br>\
                                        <div class="modal-body-text">\
                                            按下確認自動報名<br>\
                                            且建立聊天群組\
                                        </div>\
                                    </div>\
                                    <button type="button" class="modal-btn-cancel" data-dismiss="modal">取消</button>\
                                    <button type="button" id="modal-btn-confirm-id" class="modal-btn-confirm" onclick="create_group('+ mission_ID + ',' + group_required +')">確認</button>\
                                </div>\
                            </div>\
                        </div>'
                    )

                }
                console.log("success")
              }
        });
    }


    function create_group(mission_ID, group_required){
        console.log(mission_ID)

        group_name = document.getElementById("group_name").value
        group_most = document.getElementById("group_most").value
        console.log(group_name.length)

        if( group_name=="" || group_most==""){
            // alert("團名或人數不得為空");
            Swal.fire({
                title: '團名或人數不得為空!',
                icon: 'error',
                width: '70vw',
                heightAuto: false,
                background: '#E9BBA4',
                showConfirmButton: false,
                customClass: 'swal-custom'
            });
        }
        else{
            if (group_name.length > 10){
                // alert("團名不得超過10字");
                Swal.fire({
                    title: '團名不得超過十個字!',
                    icon: 'error',
                    width: '70vw',
                    heightAuto: false,
                    background: '#E9BBA4',
                    showConfirmButton: false,
                    customClass: 'swal-custom'
                });
            }
            else {
                if ( Number.isInteger( parseInt(group_most, 10) ) ){
                    if (group_most < group_required){
                        // alert("人數不得低於"+ group_required +"人");
                        var temp = "人數不得低於"+ group_required +"人!";
                        Swal.fire({
                            title: temp,
                            icon: 'error',
                            width: '70vw',
                            heightAuto: false,
                            background: '#E9BBA4',
                            showConfirmButton: false,
                            customClass: 'swal-custom'
                        });
                    }
                    else {
                        $('#modal-btn-confirm-id').attr('data-dismiss', "modal");

                        $.ajax({
                          url: '/create_mission_group',
                          method: 'POST',
                          type: 'POST',
                          dataType: "json",
                          data: {
                            "group_name": group_name,
                            "mission_ID": mission_ID,
                            "leader_ID": window.location.href.split('?')[1].split('=')[1],
                            "group_most": group_most,
                          },
                          success: function (data) {
                            if (data.result == "success"){
                                // 前往對應創出來的 chatroom 
                                window.location.href = "/chatroom?account=" + window.location.href.split('?')[1].split('=')[1] + "&chatroom_ID=" + data.chatroom_ID
                            }
                            console.log("success")
                          }
                        });
                    }
                }
                else {
                    // alert("人數必須為整數");
                    Swal.fire({
                        title: '人數必須為整數!',
                        icon: 'error',
                        width: '70vw',
                        heightAuto: false,
                        background: '#E9BBA4',
                        showConfirmButton: false,
                        customClass: 'swal-custom'
                    });
                }
            }
        }        
    }


    function join_group(mission_ID, chatroom_ID){
        console.log(mission_ID, chatroom_ID)
        $.ajax({
              url: '/join_mission_group',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                "user_ID": window.location.href.split('?')[1].split('=')[1],
                "mission_ID": mission_ID,
                "chatroom_ID": chatroom_ID,
              },
              success: function (data) {
                if (data.result == "success"){
                    $('#modal-btn-confirm-id_' + chatroom_ID).attr('data-dismiss', "modal");
                    // 前往對應創出來的 chatroom 
                    window.location.href = "/chatroom?account=" + window.location.href.split('?')[1].split('=')[1] + "&chatroom_ID=" + chatroom_ID
                }
                else if (data.result == "group_full"){
                    $('#modal-btn-confirm-id_' + chatroom_ID).attr('data-dismiss', "modal");
                    // alert("此團已額滿")
                    Swal.fire({
                        title: '此團已額滿!',
                        icon: 'error',
                        width: '70vw',
                        heightAuto: false,
                        background: '#E9BBA4',
                        showConfirmButton: false,
                        customClass: 'swal-custom'
                    });
                }
                else if (data.result == "group_repeat"){
                    $('#modal-btn-confirm-id_' + chatroom_ID).attr('data-dismiss', "modal");
                    // alert("您已在此團中")
                    Swal.fire({
                        title: '您已在此團中!',
                        icon: 'error',
                        width: '70vw',
                        heightAuto: false,
                        background: '#E9BBA4',
                        showConfirmButton: false,
                        customClass: 'swal-custom'
                    });
                }
                
              }
        });
    }


</script>