<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="./static/profile.css" rel="stylesheet">
        <script src="static/jquery.js"></script>
    </head>
    <body>
        <div id="all">
            <div class="navbar">
                <a id="back_arrow_link">
                    <img src="./static/src/back_arrow.png" class="prev">
                </a>
                <div class="title_text">個人資訊</div>
            </div> 
            
            <div id="container"></div>
            <!-- <div id="photo"></div>
            <p id="name" class="profile">{{ name }}</p>
            <p id="user_id"  class="profile">{{ account }}</p>
            <p id="age" class="profile">{{birth}}</p>
            <p id="level" >等級 {{level}}</p>
            <p id="knowledge" class="exp">知識</p>
            <p id="social" class="exp">社會參與</p>
            <p id="physical" class="exp">體能</p>
            <div id="bar">
                <progress id="exp_1" value={{exp1}} max="100" > 70% </progress>
                <progress id="exp_2" value={{exp2}} max="100" > 60% </progress>
                <progress id="exp_3" value={{exp3}} max="100" > 65% </progress>
            </div>
            <div id="role"></div>
            <p id="intro">自我介紹</p>
            <img src="./static/src/pen.PNG" id="pen">
            <button type="button" id="save" >儲存</button>
            <div id="edit"></div>
            <p id="edit_text">{{intro}}</p>
            <textarea id="intro_text"></textarea> -->

            
            
            <div id="photo1">
                <div id="photo1_text" class="photo_text"></div>
            </div>
            <div id="photo2">
                <div id="photo2_text" class="photo_text"></div>
            </div>
            <div id="photo3">
                <div id="photo3_text" class="photo_text"></div>
            </div>
            <div id="photo4">
                <div id="photo4_text" class="photo_text"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </body>
</html>

<script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    }) 

    window.onload = function(){
        document.getElementById('back_arrow_link').href = "/main?account=" + window.location.href.split('?')[1].split('&')[0].split('=')[1];

        parameter = window.location.href.split('?')[1].split('&')
        if(parameter.length == 1){
            my_profile();
        }
        else if(parameter.length == 2){
            others_profile();
        }
    }

    function my_profile(){
        $.ajax({
            url: '/get_profile_page',
            method: 'POST',
            type: 'POST',
            dataType: "json",
            data: {
                'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
            },
            success: function (data) {
                if (data.result == "success"){
                    $('#container').html(
                        '<div id="photo"></div>\
                        <p id="name" class="profile">'+ data.name +'</p>\
                        <p id="user_id"  class="profile">'+ data.account +'</p>\
                        <p id="age" class="profile">'+ data.birth +'</p>\
                        <p id="level" >等級 '+ data.level +'</p>\
                        <p id="knowledge" class="exp">知識</p>\
                        <p id="social" class="exp">社會參與</p>\
                        <p id="physical" class="exp">體能</p>\
                        <div id="bar">\
                            <progress id="exp_1" value='+ data.exp1 +' max="100" > 70% </progress>\
                            <progress id="exp_2" value='+ data.exp2 +' max="100" > 60% </progress>\
                            <progress id="exp_3" value='+ data.exp3 +' max="100" > 65% </progress>\
                        </div>\
                        <div id="role"></div>\
                        <p id="intro">自我介紹</p>\
                        <img src="./static/src/pen.PNG" id="pen">\
                        <button type="button" id="save" >儲存</button>\
                        <div id="edit"></div>\
                        <p id="edit_text">'+ data.intro +'</p>\
                        <textarea id="intro_text"></textarea>\
                        <p id="story">故事牆</p>'
                    )

                    $.ajax({
                    url: '/get_img',
                    method: 'POST',
                    type: 'POST',
                    async: false, //改成同步執行(等待上一個回傳)
                    data: {
                        "img_path": data.profile_photo,
                    },
                    success: function (img) {
                        console.log("success")
                        $('#photo').attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                    }
                    });
                
                    $('#role').attr('style', 'background-image: url(static/src/' + data.character_name + ')' )

                    var pic_list = data.story_pic
                    console.log(pic_list)
                    for(var i = 0; i < pic_list.length; i++){
                        if(pic_list[i] == "media/mission_submit_upload/none.jpg"){
                            console.log(i)
                            $('#photo'+(i+1).toString()).attr('style', 'background:#C4C4C4; ')
                            $('#photo'+(i+1).toString()+'_text').html('完成更多任務吧!')
                        }
                        else{
                            $.ajax({
                                url: '/get_img',
                                method: 'POST',
                                type: 'POST',
                                async: false, //改成同步執行(等待上一個回傳)
                                data: {
                                    "img_path": pic_list[i],
                                },
                                success: function (img) {
                                    $('#photo'+(i+1).toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                                }
                            });
                        }
                    }
                }
            }
        });
    }

    function others_profile(){
        $.ajax({
            url: '/get_profile_page',
            method: 'POST',
            type: 'POST',
            dataType: "json",
            data: {
                'account': window.location.href.split('?')[1].split('&')[1].split('=')[1],
            },
            success: function (data) {
                if (data.result == "success"){
                    $('#container').html(
                        '<div id="photo"></div>\
                        <p id="name" class="profile" style="top:22vw">'+ data.name +'</p>\
                        <p id="user_id"  class="profile" style="top:32vw">'+ data.account +'</p>\
                        <p id="age" class="profile" style="top:42vw">'+ data.birth +'</p>\
                        <p id="level" >等級 '+ data.level +'</p>\
                        <p id="knowledge" class="exp">知識</p>\
                        <p id="social" class="exp">社會參與</p>\
                        <p id="physical" class="exp">體能</p>\
                        <div id="bar">\
                            <progress id="exp_1" value='+ data.exp1 +' max="100" > 70% </progress>\
                            <progress id="exp_2" value='+ data.exp2 +' max="100" > 60% </progress>\
                            <progress id="exp_3" value='+ data.exp3 +' max="100" > 65% </progress>\
                        </div>\
                        <div id="role"></div>\
                        <p id="intro">自我介紹</p>\
                        <button type="button" id="save" >儲存</button>\
                        <div id="edit"></div>\
                        <p id="edit_text">'+ data.intro +'</p>\
                        <textarea id="intro_text"></textarea>\
                        <p id="story">故事牆</p>\
                        <div id="friend_button"></div>'
                    )
                    
                    update_friend_button();
                    

                    $.ajax({
                    url: '/get_img',
                    method: 'POST',
                    type: 'POST',
                    async: false, //改成同步執行(等待上一個回傳)
                    data: {
                        "img_path": data.profile_photo,
                    },
                    success: function (img) {
                        console.log("success")
                        $('#photo').attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                    }
                    });
                
                    $('#role').attr('style', 'background-image: url(static/src/' + data.character_name + ')' )

                    var pic_list = data.story_pic
                    console.log(pic_list)
                    for(var i = 0; i < pic_list.length; i++){
                        if(pic_list[i] == "media/mission_submit_upload/none.jpg"){
                            console.log(i)
                            $('#photo'+(i+1).toString()).attr('style', 'background:#C4C4C4; ')
                            $('#photo'+(i+1).toString()+'_text').html('完成更多任務吧!')
                        }
                        else{
                            $.ajax({
                                url: '/get_img',
                                method: 'POST',
                                type: 'POST',
                                async: false, //改成同步執行(等待上一個回傳)
                                data: {
                                    "img_path": pic_list[i],
                                },
                                success: function (img) {
                                    $('#photo'+(i+1).toString()).attr('style', 'background-image: url(data:image/jpg;base64,' + img + ')' )
                                }
                            });
                        }
                    }
                }
            }
        });
    }

    function friend_button(others, type) {
        if(type == "delete"){
            $.ajax({
                url: '/delete_friend',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': others,
                },
                success: function (data) {
                    if (data.result == "success"){
                        console.log(data.result)
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                    }                
                }
            });
        }
        else if(type == "cancel"){
            $.ajax({
                url: '/cancel_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': others,
                },
                success: function (data) {
                    if (data.result == "success"){
                        console.log(data.result)
                        update_friend_button();
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                    }                
                }
            });
        }
        else if(type == "check"){
            $.ajax({
                url: '/accept_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': others,
                },
                success: function (data) {
                    if (data.result == "success"){
                        console.log(data.result)
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                    }                
                }
            });
        }
        else{
            $.ajax({
                url: '/send_invitation',
                method: 'POST',
                type: 'POST',
                dataType: "json",
                data: {
                    'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                    'others': others,
                },
                success: function (data) {
                    if (data.result == "success"){
                        console.log(data.result)
                        update_friend_button();
                    }
                    else if (data.result == "error") {
                        console.log(data.result)
                    }                
                }
            });
        }
    }

    function update_friend_button(){
        $.ajax({
            url: '/get_relationship',
            method: 'POST',
            type: 'POST',
            dataType: "json",
            data: {
                'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                'others': window.location.href.split('?')[1].split('&')[1].split('=')[1],
            },
            success: function (data) {
                console.log(data.result)
                others = window.location.href.split('?')[1].split('&')[1].split('=')[1]
                $('#friend_button').html('<div class="friend_button"></div>')
                if(data.result=="friend"){
                    $('.friend_button').attr('style', 'background-image: url(static/src/delete_friend.png)' )
                    $('.friend_button').attr('onclick', 'friend_button("'+ others +'", "delete")' )
                }
                else if(data.result=="invitation_send"){
                    // $('#container').append('<div class="friend_button"></div>')
                    $('.friend_button').attr('style', 'background-image: url(static/src/cancel_invitation.png)' )
                    $('.friend_button').attr('onclick', 'friend_button("'+ others +'", "cancel")' )
                }
                else if(data.result=="invitation_receive"){
                    $('.friend_button').attr('style', 'background-image: url(static/src/invite_check.png)' )
                    $('.friend_button').attr('onclick', 'friend_button("'+ others +'", "check")' )
                }
                else{
                    $('.friend_button').attr('style', 'background-image: url(static/src/invite_friend.png)' )
                    $('.friend_button').attr('onclick', 'friend_button("'+ others +'", "invite")' )
                }
            }
        })
    }


    $(document).on('click', "#pen",function(){
        $('#save').css("visibility", "visible");
        $('#pen').css("visibility", "hidden");
        $("#intro_text").val($('#edit_text').text().substring(0,48)  );
        $('#intro_text').css("visibility", "visible");
        $('#edit_text').css("visibility", "hidden");
    })

    $(document).on('click', "#save",function(){
        $("#pen").css("visibility", "visible");
        $("#save").css("visibility", "hidden");

        $("#edit_text").text($("#intro_text").val().substring(0,48));
        $('#edit_text').css("visibility", "visible");
        $('#intro_text').css("visibility", "hidden");

        $.ajax({
              url: '/save_profile_intro',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                  'intro': $("#intro_text").val().substring(0,48),
              },
              success: function (data) {
                if (data.result == "success"){

                }
            }
        });
    })

</script>