<!DOCTYPE html>
<html>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <head>
        <meta charset="utf-8">
        <link href="./static/register.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    </head>
    <body>
        <div id="all">
            <div id="register_page">
                <div class="navbar">
                    <p id="register_text">註 冊</p>
                    <a href="/start">
                        <img src="./static/src/back_arrow.png" class="prev" id="register_prev">
                    </a>
                    
                </div>
                <p class="profile_text" id="name_text">姓 名</p>
                <input type="text" id="name" name="name" class="input">
                <p class="profile_text" id="birth_text">生 日</p>
                <select id=year name=year>
                </select>
                <p id="slash1">/</p>
                <select id=month name=month class="birth">
                </select>
                <p id="slash2">/</p>
                <select id=date name=date class="birth">
                </select>
                <p class="profile_text" id="sex_text">性 別</p>
                <img src="./static/src/girl.PNG" id="girl" class="sex">
                <img src="./static/src/boy.png" id="boy" class="sex">
                <p class="profile_text" id="mail_text">信 箱</p>
                <input type="text" id="mail" name="mail" class="input">
                <p class="profile_text" id="account_register_text">帳 號</p>
                <input type="text" id="account_register" name="account_register" class="input">
                <p class="profile_text" id="password_register_text">密 碼</p>
                <input type="password" id="password_register" name="password_register" class="input">
                <input type="submit" value="取 消" id="register_cancel" class="submit">
                <input type="submit" value="確 認" id="register_check" class="submit">

                
            </div>
        </div>
 
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
        <script>
            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
            })  

            var birth="";
            var year=1921;
            var month=1;
            var date=1;
            for(year=1921; year<=2010; year++)
            {
                $("#year").append("<option value=\""+year+"\">" +year+ "</option>");
            }
            for(month=1; month<=12; month++)
            {
                $("#month").append("<option value=\""+month+"\">" +month+ "</option>");
            }
            for(date=1; date<=33; date++)
            {
                $("#date").append("<option value = \""+date+"\">" +date+ "</option>");
            }
            var sex="女";

            $('#girl').click((event) => {
                $('#boy').css("visibility", "visible");
                $('#girl').css("visibility", "hidden");
                sex="男";
                console.log(sex);
            })
            $('#boy').click((event) => {
                $('#girl').css("visibility", "visible");
                $('#boy').css("visibility", "hidden");
                sex="女";
                console.log(sex);
            })

            $('#register_cancel').click((event) => {
                $("#name").val("");
                $("#year").val("");
                $("#month").val("");
                $("#date").val("");
                $("#mail").val("");
                $("#account_register").val("");
                $("#password_register").val("");
            })

            $("#register_check").click( function() {
                birth=$("#year").val();
                birth+="/"+$("#month").val();
                birth+="/"+$("#date").val();

                if(document.getElementById("name").value=="" | document.getElementById("account_register").value=="" | 
                    document.getElementById("password_register").value =="" | document.getElementById("mail").value==""){
                    Swal.fire({
                        title: '欄位不得為空!',
                        icon: 'error',
                        width: '70vw',
                        heightAuto: false,
                        background: '#E9BBA4',
                        showConfirmButton: false,
                        customClass: 'swal-custom'
                    })
                }
                else{
                    $.ajax({
                        url: '/register_submit',
                        method: 'POST',
                        type: 'POST',
                        dataType: "json",
                        data: {
                            "name": document.getElementById("name").value,
                            "account": document.getElementById("account_register").value,
                            "password": document.getElementById("password_register").value,
                            "sex": sex,
                            "birth": birth,
                            "email": document.getElementById("mail").value,
                        },
                        success: function (data) {
                            if (data.result == "success"){
                                console.log("success")
                                $.ajax({
                                    url: '/login_check',
                                    method: 'POST',
                                    type: 'POST',
                                    dataType: "json",
                                    data: {
                                        "account": document.getElementById("account_register").value,
                                        "password": document.getElementById("password_register").value,
                                    },
                                    success: function (data) {
                                        if (data.result == "success"){
                                            // account = document.getElementById("account").value
                                            // window.location.href = "/main?account="+account
                                            Swal.fire({
                                                title: '註冊成功!',
                                                icon: 'success',
                                                width: '70vw',
                                                heightAuto: false,
                                                background: '#E9BBA4',
                                                showConfirmButton: false,
                                                customClass: 'swal-custom'
                                            }).then(function(){
                                                window.location.href = "/main?account="+document.getElementById("account_register").value;
                                            })
                                        }
                                    }
                                });
                                // window.location.href = "/main?account="+document.getElementById("account_register").value
                            }
                            else if (data.result == "account_exist"){
                                Swal.fire({
                                    title: '此帳號已被註冊!',
                                    icon: 'error',
                                    width: '70vw',
                                    heightAuto: false,
                                    background: '#E9BBA4',
                                    showConfirmButton: false,
                                    customClass: 'swal-custom'
                                })
                            }
                            
                        }
                    });
                }
            });
        </script>
    </body>
</html>