<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <script src="static/jquery.js"></script>
    </head>
    <body>
        姓名 <input id = "name" type="text" size="20" ><br/>
        帳號 <input id = "account" type="text" size="20" ><br/>
        密碼 <input id = "password" type="text" size="20" ><br/>
        性別 <input id = "sex" type="text" size="20" ><br/>
        生日 <input id = "birth" type="text" size="20" ><br/>



        <div>
            <button id="register_button">提交註冊</button>
        </div>

        <div>
            <button id="GET_button">GET</button>
        </div>
    </body>

</html>

<script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })    


    $("#register_button").click( function() {
        $.ajax({
              url: '/register_submit',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  "name": document.getElementById("name").value,
                  "account": document.getElementById("account").value,
                  "password": document.getElementById("password").value,
                  "sex": document.getElementById("sex").value,
                  "birth": document.getElementById("birth").value,
              },
              success: function (data) {
                // console.log(document.getElementById("chat-message-input").value)
                // if (data.result == "success"){
                //   update_msg();
                // }
                console.log("success")
              }
        });
    });


    $("#GET_button").click( function() {
        $.ajax({
              url: '/get_profile',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  "account": document.getElementById("account").value,
              },
              success: function (data) {
                // console.log(document.getElementById("chat-message-input").value)
                // if (data.result == "success"){
                //   update_msg();
                // }
                console.log("success")
              }
        });
    });
</script>