<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <script src="static/jquery.js"></script>
    </head>
    <body>
        <div id="balance"></div>

        <div id="newpic"></div>

        <button id="mission_button">購買</button>
        <button id="chat_button">我的商品</button>
    </body>

</html>

<script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })    

    window.onload = function(){
        $.ajax({
              url: '/get_shop_page',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  "account": window.location.href.split('?')[1].split('&')[0].split('=')[1],
              },
              success: function (data) {
                if (data.result == "success"){
                    $('#newpic').html("");
                    var pic_list = data.product_pic
                    $('#balance').append(data.balance)
                    for(var i = 0; i < pic_list.length; i++){
                        $.ajax({
                        url: '/get_img',
                        method: 'POST',
                        type: 'POST',
                        async: false, //改成同步執行(等待上一個回傳)
                        data: {
                            "img_path": pic_list[i],
                        },
                        success: function (img) {
                            // console.log()
                            
                            $('#newpic').append("<img src=" + '"data:image/jpg;base64,'+img+'"> <br>' +
                                data.product_name[i] + '<br>'+
                                "商品ID: " + data.product_ID[i]+ '<br>'+
                                "商品描述: " + data.product_detail[i]+ '<br>'+
                                "商品金額: " + data.product_price[i]+ '<br>'+
                                "商品剩餘: " + data.product_left[i]+ '<br>'                             
                            )
                        }
                        });
                    }
                }
              }
        });
    }


    $("#mission_button").click( function() {
        // account = window.location.href.split('?')[1].split('=')[1]
        // window.location.href = "/mission?account="+account

        $.ajax({
              url: '/buy_product',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                  'product_ID': "40000001",
              },
              success: function (data) {
                if (data.result == "success"){
                    window.location.href = window.location.href;         

                }
                console.log(data.result)
                
            }
        });

    })

    $("#chat_button").click( function() {
        $.ajax({
              url: '/get_my_shop',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
              },
              success: function (data) {
                if (data.result == "success"){
                    // window.location.href = window.location.href;         
                    $('#newpic').html("");
                    var pic_list = data.product_pic
                    for(var i = 0; i < pic_list.length; i++){
                        $.ajax({
                        url: '/get_img',
                        method: 'POST',
                        type: 'POST',
                        async: false, //改成同步執行(等待上一個回傳)
                        data: {
                            "img_path": pic_list[i],
                        },
                        success: function (img) {
                            // console.log()
                            
                            $('#newpic').append("<img src=" + '"data:image/jpg;base64,'+img+'"> <br>' +
                                data.product_name[i] + '<br>'+
                                "商品ID: " + data.product_ID[i]+ '<br>'+
                                "商品描述: " + data.product_detail[i]+ '<br>'+
                                "商品剩餘: " + data.product_num[i]+ '<br>'                             
                            )
                            $('#newpic').append('<button onclick=use('+ data.product_ID[i] +')>使用</button><br>')
                        }
                        });
                    }
                    // $('#newpic').append('<button onclick=use('+ data.product_ID[i] +')>使用</button>')
                }
            }
        });
    });

    function use(product_ID){
        $.ajax({
              url: '/use_product',
              method: 'POST',
              type: 'POST',
              dataType: "json",
              data: {
                  'account': window.location.href.split('?')[1].split('&')[0].split('=')[1],
                  'product_ID': product_ID,
              },
              success: function (data) {
                if (data.result == "success"){
                    $("#chat_button").click();
                }
                console.log(data.result)
                
            }
        });
    };
</script>