<!DOCTYPE html>
<html>
    {% load pwa %}
    {% progressive_web_app_meta %}
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">
        <script src="static/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>        
        <link href="static/start.css" rel="stylesheet">
    </head>
    <body>
        <div id="all">
                <div id="container">
                    
                </div>
                <div class="gif_container">
                    <img src="./static/src/LOGO橘背景modify.gif" id="gif">
                </div>
                <div id="logo"></div>
                <a href="/login">
                    <div id="login">
                        <img src="./static/src/login_btn.png" id="login_image">
                    </div>
                </a>
                <a href="/register">
                    <div id="register">
                        <img src="./static/src/register_btn.png" id="register_image">
                    </div>
                </a>
        </div>
 
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
    </body>
</html>

<script>
    window.onload = function(){
                // if window.location.href.split("?")[0].
        if (window.location.href.split("?")[0].indexOf('start') <= -1) { //沒有start
            window.location.href = "start"
        }
        window.setTimeout(( () => $(".gif_container").fadeOut() ), 4200);
        // if(document.readyState=="complete"){
        //     $(".gif_container").fadeOut();
        // }
    }

</script>